#{extends 'admin/main.html' /}
#{set title:'Account settings' /}

<div id="tabs">
  <ul>
    <li><a href="#accountDetails"><span>Account details</span></a></li>
    <li><a href="#administrators"><span>Administrators</span></a></li>
    <li><a href="#usageDashboard"><span>Usage dashboard</span></a></li>
    <li><a href="#settings"><span>Settings</span></a></li>
  </ul>
  <div id="accountDetails">
    <div class="container">
      #{ox.form id:'accountDetailsForm', action:@admin.AccountSettings.updateDetails(),
      baseClass:'models.account.Account'}
      <div class="left_column">
        #{box 'Contact'}
        #{ox.field field:'account.contactFirstName', label:'Contact first name' /}
        #{ox.field field:'account.contactLastName', label:'Contact last name' /}
        #{ox.field field:'account.email', label:'Email' /}
        #{ox.field field:'account.phone', label:'Phone' /}
        #{/box}
        #{box 'Billing'}
        #{ox.field field:'account.vatCode', label:'VAT code' /}
        #{/box}
      </div>
      <div class="right_column">
        #{box 'Address'}
        #{ox.field field:'account.address.street1', label:'Street 1' /}
        #{ox.field field:'account.address.street2', label:'Street 2' /}
        #{ox.field field:'account.address.postalCode', label:'Postal code' /}
        #{ox.field field:'account.address.city', label:'City' /}
        #{ox.field field:'account.address.city', label:'Country' /}
        #{/box}
      </div>
      <div style="clear:both; float:right;">
        #{ox.field field:'account.id', hidden:true /}
        #{input.submit /}
      </div>
      #{/ox.form}
    </div>
  </div>
  <div id="administrators">
    <div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
      <p>
        <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
         Assign administrative roles to users by dragging them into the desired role.
      </p>
    </div>
    <br>

    <button id="removeRoleButton">Remove</button>
    <div class="container">
      <div class="left_column">
        <div id="accountRolesAssignmentTree" class="tree"></div>
      </div>
      <div class="right_column">
        <div id="userTree" class="tree"></div>
      </div>
    </div>
    <div id="usageDashboard">
    </div>
    <div id="settings">

    </div>

  </div>

  <script type="text/javascript">
    $('#tabs').tabs();

    $('#accountDetailsForm').oxForm({
      loadAction: '@{admin.AccountSettings.accountDetails()}'
    });

    $('#accountDetailsForm').oxForm('load', -1);

    $("#removeRoleButton").button({icons: {primary: 'ui-icon-minus'}, disabled: true}).click(function () {
      $("#accountRolesAssignmentTree").jstree("remove", null);
    });
    $("#accountRolesAssignmentTree").tree({types: adminRolesTreeTypes});
    $("#userTree").tree({types: userTreeTypes});

    $("#accountRolesAssignmentTree").bind("select_node.jstree", function (e, data) {
      if (isSelectedNodeType(data, ["default", "user"])) {
        $('#removeRoleButton').button('enable');
      } else {
        $('#removeRoleButton').button('disable');
      }

    });


  </script>
