#{if role == null}
No role selected
#{/if}
#{else}
${role.name}

<table>
  <thead>
  <th>Action</th>
  <th>View</th>
  <th>Create / Edit</th>
  <th>Delete</th>
  </thead>
  <tbody>
  <tr>
    <th>Requirements</th>
    <td><input type="checkbox"/></td>
    <td><input type="checkbox"/></td>
    <td><input type="checkbox"/></td>
  </tr>
  <tr>
    <th>Test Approach</th>
    <td><input type="checkbox"/></td>
    <td><input type="checkbox"/></td>
    <td><input type="checkbox"/></td>
  </tr>
  <tr>
    <th>Test Preparation</th>
    <td><input type="checkbox"/></td>
    <td><input type="checkbox"/></td>
    <td><input type="checkbox"/></td>
  </tr>
  </tbody>
</table>
#{/else}