#{if role == null}
No role selected
#{/if}
#{else}

<script type="text/javascript">
  $('#roleDetailsForm').ajaxForm(function() {
    $('#flash').html("Role definition updated");
    $('#flash').show();
    $('#flash').fadeOut(3000, 'easeInExpo');
  });
  $('#roleSubmit').button().click(function(){
      $.post('@{admin.ProjectRoles.renameRole()}', {projectId:getSelectedNodeId('projectTree'), roleId:getSelectedRowId("#tab"), roleName: $('#renameInput').val()}, function(){
                refreshTableContents('#tab', false);
      }).error(errorHandler);
  });

</script>

<div>

  <div id="flash" style="display: none; text-align: center;"></div>

  #{form action:@admin.ProjectRoles.edit(), id:'roleDetailsForm'}

    <label class="name"><strong>Role name</strong></label> <input id="renameInput"/> <br/> <br/>
    
  <table>
    <tr>
      <th>Project administration</th>
      <td>#{checkBox name:'unitRoles', value:models.general.UnitRole.PROJECTADMIN, selected:unitRoles /}</td>
    </tr>
  </table>

  <table>
    <thead>
    <th></th>
    <th>View</th>
    <th>Create</th>
    <th>Edit</th>
    <th>Delete</th>
    </thead>
    <tbody>
    <tr>
      <th>Requirements</th>
      <td>#{checkBox name:'unitRoles', value:models.general.UnitRole.REQVIEW, selected:unitRoles /}</td>
      <td>#{checkBox name:'unitRoles', value:models.general.UnitRole.REQCREATE, selected:unitRoles /}</td>
      <td>#{checkBox name:'unitRoles', value:models.general.UnitRole.REQEDIT, selected:unitRoles /}</td>
      <td>#{checkBox name:'unitRoles', value:models.general.UnitRole.REQDELETE, selected:unitRoles /}</td>
    </tr>
    <tr>
      <th>Test Scripts repository</th>
      <td>#{checkBox name:'unitRoles', value:models.general.UnitRole.TESTREPOVIEW, selected:unitRoles /}</td>
      <td>#{checkBox name:'unitRoles', value:models.general.UnitRole.TESTREPOCREATE, selected:unitRoles /}</td>
      <td>#{checkBox name:'unitRoles', value:models.general.UnitRole.TESTREPOEDIT, selected:unitRoles /}</td>
      <td>#{checkBox name:'unitRoles', value:models.general.UnitRole.TESTREPODELETE, selected:unitRoles /}</td>
    </tr>
    <tr>
      <th>Test Preparation</th>
      <td>#{checkBox name:'unitRoles', value:models.general.UnitRole.TESTPREPVIEW, selected:unitRoles /}</td>
      <td>#{checkBox name:'unitRoles', value:models.general.UnitRole.TESTPREPCREATE, selected:unitRoles /}</td>
      <td>#{checkBox name:'unitRoles', value:models.general.UnitRole.TESTPREPEDIT, selected:unitRoles /}</td>
      <td>#{checkBox name:'unitRoles', value:models.general.UnitRole.TESTPREPDELETE, selected:unitRoles /}</td>
    </tr>
    <tr>
      <th>Test Execution</th>
      <td>#{checkBox name:'unitRoles', value:models.general.UnitRole.TESTEXECVIEW, selected:unitRoles /}</td>
      <td>#{checkBox name:'unitRoles', value:models.general.UnitRole.TESTEXECCREATE, selected:unitRoles /}</td>
      <td>#{checkBox name:'unitRoles', value:models.general.UnitRole.TESTEXECEDIT, selected:unitRoles /}</td>
      <td>#{checkBox name:'unitRoles', value:models.general.UnitRole.TESTEXECDELETE, selected:unitRoles /}</td>
    </tr>
    <tr>
      <th>Defects</th>
      <td>#{checkBox name:'unitRoles', value:models.general.UnitRole.DEFECTVIEW, selected:unitRoles /}</td>
      <td>#{checkBox name:'unitRoles', value:models.general.UnitRole.DEFECTCREATE, selected:unitRoles /}</td>
      <td>#{checkBox name:'unitRoles', value:models.general.UnitRole.DEFECTEDIT, selected:unitRoles /}</td>
      <td>#{checkBox name:'unitRoles', value:models.general.UnitRole.DEFECTDELETE, selected:unitRoles /}</td>
    </tr>
    <input type="hidden" name="roleId" value="${role.id}"/>
    <tr><td colspan="4"></td></tr>
    <tr>
      <td><td></td><td colspan="4"><input id="roleSubmit" type="submit" value="Update"/></td>
    </tr>

    </tbody>
  </table>
  #{/form}

</div>

#{/else}