#{forms.field field:_field, baseObject:_baseObject, baseClass:_baseClass, name:_name}
<div class="field">
  <label for="${field.id}">${_label}</label>
  <input id="${field.id}" data-validate="${field.validationData}" type="text" name="${field.name}"
         value="${field.value?.format(play.Play.configuration.getProperty('date.format'))}" class="${field.errorClass}"/>
  <span class="error">${field.error}</span>
</div>
<script type="text/javascript">
  $(function() {
    $("#${field.id}").datepicker({
      gotoCurrent: true    });
  });
</script>
#{/}
