%{
  def formBaseClass = _caller.baseClass;
  def baseClass = _baseClass ? _baseClass : formBaseClass;
  def formBaseObject = _caller.baseObject;
  def baseObject = _baseObject ? _baseObject : formBaseObject;
}%

#{forms.objectField baseObject:baseObject, baseClass:baseClass, field:_field}
#{if objectField.type == 'text'}
  #{input.textField field:_field, label:_label, baseObject:baseObject, baseClass:baseClass /}
#{/if}
#{elseif objectField.type == 'longtext'}
  #{input.longtextField field:_field, label:_label, baseObject:baseObject, baseClass:baseClass /}
#{/elseif}
#{elseif objectField.type == 'relation'}
  #{input.relationField field:_field, label:_label, baseObject:baseObject, baseClass:baseClass, objectField:objectField /}
#{/elseif}
#{elseif objectField.type == 'date'}
  #{input.dateField field:_field, label:_label, baseObject:baseObject, baseClass:baseClass /}
#{/elseif}
#{else}
  Problem with the hyperspace flux compensator
#{/else}


#{/forms.objectField}