#{form action:_action, id:_id}
%{_body.setProperty('baseClass', _baseClass); }%
%{_body.setProperty('baseObject', _baseObject); }%
#{doBody /}
#{/form}

<script type="text/javascript">
  (function($) {
    $.metadata.setType('html5');
    $(document).ready(function() {
      $('#${_id}').validate({
        meta:'validate',
        submitHandler: function(form) {
          jQuery(form).ajaxSubmit(function() {
            if(typeof ${_id}SubmissionCallback !== 'undefined') {
              ${_id}SubmissionCallback();
            }
            #{if _baseClass != null}
            jQuery(form).clearForm();
            #{/if}
          });
        }
      });
    });
  })(jQuery);
</script>