#{forms.field field:_field, baseObject:_baseObject, baseClass:_baseClass, name:_name}
<div class="field">
    <label for="${_field}">${_label}</label>

#{if !_autoComplete}

  <select id="${_field}" name="${_field}.id">
      #{ifnot _objectField.required}
          <option value="">(None)</option>
      #{/ifnot}
      #{else}
          <option value="">(Select a value)</option>
      #{/else}
      %{ _objectField.choices.each() { }%
      %{
          selected = false
          if(_baseObject != null) {
              selected = field.value != null && (it._key().toString() == field.value._key().toString())
          }
      }%
      <option value="${it._key()}" ${selected ? 'selected="true"'.raw() : ''}>${it}</option>
      %{ } }%
  </select>
#{/if}
#{elseif _autoComplete}
  Hyperspace multiflux problem in secondary plasma matrix
#{/elseif}

</div>
#{/}
