#{if instance == null}
No test instance selected
#{/if}
#{else}

#{box 'Runs for test instance "'+instance.name+'"'}

#{dialog id:'createRunDialog', class:'box-content', height:600, width:800, loadAction:@Execution.createRunDialog(':instanceId'), submitButtonText:'Save', openDialogButtonText:'Run Test Instance'}
<script type="text/javascript">
  function createRunDialogLoadActionParams() {
    return { instanceId: getSelectedRowId($('#instanceTable').dataTable()) };
  }
  function createRunDialogLoadActionCallback() {
        // refresh the data table that shows the runs, as we just created a new one
        $("#runTable").dataTable().fnDraw(false);
  }
  function createRunDialogSubmissionCallback() {
    refreshTableContents("runTable", false);
    refreshTableContents("instanceTable", false);
  }
</script>
#{/dialog}

#{dialog id:'updateRunDialog', class:'box-content', height:600, width:800, loadAction:@Execution.updateRunDialog(':runId'), submitButtonText:'Save', openDialogButtonText:'Edit Test Run', openButtonDisabled:true}
<script type="text/javascript">
  function updateRunDialogLoadActionParams() {
    return { runId: getSelectedRowId($('#runTable').dataTable()) };
  }
  function updateRunDialogLoadActionCallback() {
        // refresh the data table that shows the runs as we may have changed some data
        $("#runTable").dataTable().fnDraw(false);
  }
  function updateRunDialogSubmissionCallback() {
    $('#runForm').ajaxSubmit(function() {
      refreshTableContents("runStepTable", false);
      refreshTableContents("runTable", false);
      refreshTableContents("instanceTable", false);
    });
  }
</script>
#{/dialog}


<table class="display" id="runTable">
  <thead>
  <tr>
    <th>Execution date</th>
    <th>Tester</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody></tbody>
</table>

<div id="runContent"></div>


#{/box}

<script type="text/javascript">
  $(document).ready(function() {

    #{tabularasa.init tableId:'runTable'}
    var runTableParameters = {
      "aoColumns": [
        {"sName": "id", "sClass": "sNone" },
        {"sName": "executionDate"},
        {"sName": "tester.fullName"},
        {"sName": "executionStatus"}
      ],
      "aoSorting": [[0, "desc"]],
      "sAjaxSource": "@{Execution.runs()}",
      "bProcessing": true,
      "bServerSide": true,
      "bLengthChange": false,
      "bSort": false,
      "bFilter": false,
      "iDisplayLength": 10,
      "bInfo": false,
      "oLanguage": {
        "sZeroRecords": "No runs performed yet"
      }
    };
    #{/tabularasa.init}

    function addRequestParameters(parameters, tableId) {
      if(tableId == 'runTable') {
        parameters.push({"name": "instanceId", "value": "${instance.id}" });
      }
    }

    handleRowSelection('runTable', function(selectedRowId) {
      $.get('@{Execution.runContent()}', { runId: selectedRowId }, function(data) {
        $('#runContent').html(data);
        $('#updateRunDialogOpenDialogButton').button("enable");
      });

    });

  });
</script>

#{/else}