#{if instance == null}
No test instance selected
#{/if}
#{else}

#{box 'Runs for test instance "'+instance.name+'"'}

<button id="newRunButton">Run Test Instance</button>
<button id="editRunButton">Edit Test Run</button>
<div id="runDialog" title="New test run" class="modalDialog">
  <div id="runDialogContent" class="box-content"><em>Loading...</em></div>
</div>

<table class="display" id="runTable">
  <thead>
  <tr>
    <th>Execution date</th>
    <th>Tester</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody></tbody>
</table>

<div id="runContent"></div>


#{/box}

<script type="text/javascript">
  $(document).ready(function() {

    $('#newRunButton').button().click(function() {
      $('#runDialog').dialog('open');
    });

    $('#editRunButton').button({disabled: true}).click(function() {
      $('#runDialog').dialog('open');
    });

    $('#runDialog').dialog({
      autoOpen: false,
      height: 600,
      width: 800,
      modal: true,
      open: function(event, ui) {
        $.get('@{Execution.newRun()}', { instanceId: getSelectedRowId($('#instanceTable').dataTable()) }, function(data) {
          $('#runDialog').html(data);
          // refresh the data table that shows the runs, as we just created a new one
          $("#runTable").dataTable().fnDraw(false);
        });
      },
      buttons: {
        "Save": function() {
          $('#runForm').ajaxSubmit(function() {
            refreshTableContents("runTable", false);
            refreshTableContents("instanceTable", false);
          });
          $(this).dialog("close");
        },
        "Cancel": function() {
          $(this).dialog("close");
        }
      }
    });


    #{tabularasa.init tableId:'runTable'}
    var runTableParameters = {
      "aoColumns": [
        {"sName": "id", "sClass": "sNone" },
        {"sName": "executionDate"},
        {"sName": "tester.fullName"},
        {"sName": "executionStatus"}
      ],
      "aoSorting": [[0, "desc"]],
      "sAjaxSource": "@{Execution.runs()}",
      "bProcessing": true,
      "bServerSide": true,
      "bLengthChange": false,
      "bSort": false,
      "bFilter": false,
      "iDisplayLength": 10,
      "bInfo": false,
      "oLanguage": {
        "sZeroRecords": "No runs performed yet"
      }
    };
    #{/tabularasa.init}

    function addRequestParameters(parameters, tableId) {
      if(tableId == 'runTable') {
        parameters.push({"name": "instanceId", "value": "${instance.id}" });
      }
    }

    handleRowSelection('runTable', function(selectedRowId) {
      $.get('@{Execution.runContent()}', { runId: selectedRowId }, function(data) {
        $('#runContent').html(data);
        $('#editRunButton').button("enable");
      });

    });

  });
</script>

#{/else}