#{extends 'main.html' /}
#{set title:'Test execution' /}

#{box 'Filters'}
<div class="container">
  <form action="index.html">
    <div class="left_column">
      <div class="field">
        <label for="cycle">Test cycle</label>
        <select id="cycle" name="cycle">
          <option value="" label="Select a cycle"></option>
          #{list items:releases, as:'release'}
          <optgroup label="${release.name}">
            #{list items:release.getTestCycles(), as:'cycle'}
            <option label="${cycle.name}" value="${cycle.id}"></option>
            #{/list}
          </optgroup>
          #{/list}
        </select>
      </div>
      <div class="field">
        <label for="status">Status</label>
        <select id="status" name="status">
          <option value="" label="Select a status"></option>
          #{list items:models.project.test.ExecutionStatus.values(), as:'s'}
          <option label="${s}" value="${s.getKey()}"></option>
          #{/list}
        </select>
      </div>
      <div class="field">
        <label for="tags">Tags</label>
        <input id="tags" name="tags" type="text">
      </div>
    </div>
    <div class="right_column">
      <div class="field">
        <label for="responsible">Assigned to</label>
        <select id="responsible" name="responsible">
          <option value="" label="Select a person"></option>
          #{list items:users, as:'user'}
          <option label="${user.getFullName()}" value="${user.getId()}"></option>
          #{/list}
        </select>
      </div>
      <div class="field">
        <label for="dateFrom">Planned execution between</label>
        <input id="dateFrom" type="text" name="dateFrom">
        <input id="dateTo" type="text" name="dateTo">
      </div>
    </div>
    <button id="filter">Filter</button>
  </form>
  #{/box}
</div>

<br/>

<div class="container ui-widget-content">

  <div class="left_table">

    <table class="display" id="instanceTable">
      <thead>
      <tr>
        <th>Tags</th>
        <th>Test instance</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody></tbody>
    </table>

  </div>

  <div class="right_table">
    <div id="content">No test instance selected</div>
  </div>

</div>


<script type="text/javascript">
  $(document).ready(function() {

    $('#filter').button().click(function(event) {
      event.preventDefault();
      $("#instanceTable").dataTable().fnDraw();
    });

    $('#dateFrom, #dateTo').datepicker({
      numberOfMonths: 3,
      showButtonPanel: true,
      gotoCurrent: true
    });

    $('#tags').tagsInput({
      'autocomplete_url': "@{Execution.allTags()}",
      'autocomplete': {minLength: 0},
      'height':'30px',
      'width':'400px',
      'defaultText':'add a tag'
    });


    #{tabularasa.init tableId:'instanceTable'}
    var instanceTableParameters = {
      "aoColumns": [
        {"sName": "id", "sClass": "sNone" },
        {"sName": "tagNames"},
        {"sName": "name"},
        {"sName": "executionStatus.name"}
      ],
      "sAjaxSource": "@{Execution.instances()}",
      "bProcessing": true,
      "bServerSide": true,
      "bLengthChange": false,
      "bSort": false,
      "bFilter": false,
      "iDisplayLength": 10,
      "bInfo": false,
      "oLanguage": {
        "sZeroRecords": "No test instances found"
      }
    };
    #{/tabularasa.init}

    function addRequestParameters(parameters, tableId) {
      parameters.push({"name": "cycle", "value": $('#cycle option:selected').val() });
      parameters.push({"name": "status", "value": $('#status option:selected').val() });
      parameters.push({"name": "tags", "value": $('#tags').val() });
      parameters.push({"name": "responsible", "value": $('#responsible option:selected').val() });
      parameters.push({"name": "dateFrom", "value": $('#dateFrom').val() });
      parameters.push({"name": "dateTo", "value": $('#dateTo').val() });
    }

    handleRowSelection('instanceTable', function(selectedRowId) {
      $.get('@{Execution.content()}', { instanceId: selectedRowId }, function(data) {
        $('#content').html(data);
      });

    });

  });
</script>