#{extends 'main.html' /}
#{set title:'Test execution' /}

#{box 'Filters'}
  #{include 'Execution/filter.html'/}
#{/box}

<br/>

<div class="container ui-widget-content">

  <div class="left_table">

    <table class="display" id="instanceTable">
      <thead>
      <tr>
        <th>Tags</th>
        <th>Test instance</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody></tbody>
    </table>

  </div>

  <div class="right_table">
    <div id="content">

      #{box 'Runs for test instance'}

      #{dialog id:'createRunDialog', class:'box-content', height:600, width:800,
      loadAction:@Execution.createRunDialog(':instanceId'), submitButtonText:'Save', openDialogButtonText:'Run Test
      Instance'}
      <script type="text/javascript">
        function createRunDialogLoadActionParams() {
          return { instanceId: getSelectedRowId($('#instanceTable').dataTable()) };
        }
        function createRunDialogLoadActionCallback() {
          // refresh the data table that shows the runs, as we just created a new one
          $("#runTable").dataTable().fnDraw(false);
        }
        function createRunDialogSubmissionCallback() {
          refreshTableContents("runTable", false);
          refreshTableContents("instanceTable", false);
        }
      </script>
      #{/dialog}

      #{dialog id:'updateRunDialog', class:'box-content', height:600, width:800,
      loadAction:@Execution.updateRunDialog(':runId'), submitButtonText:'Save', openDialogButtonText:'Edit Test Run',
      openButtonDisabled:true}
      <script type="text/javascript">
        function updateRunDialogLoadActionParams() {
          return { runId: getSelectedRowId($('#runTable').dataTable()) };
        }
        function updateRunDialogLoadActionCallback() {
          // refresh the data table that shows the runs as we may have changed some data
          $("#runTable").dataTable().fnDraw(false);
        }
        function updateRunDialogSubmissionCallback() {
          $('#runForm').ajaxSubmit(function() {
            refreshTableContents("runStepTable", false);
            refreshTableContents("runTable", false);
            refreshTableContents("instanceTable", false);
          });
        }
      </script>
      #{/dialog}


      <table class="display" id="runTable">
        <thead>
        <tr>
          <th>Execution date</th>
          <th>Tester</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody></tbody>
      </table>

      <div id="runContent">
        <table class="display" id="runStepTable">
          <thead>
          <tr>
            <th>Nr</th>
            <th>Name</th>
            <th>Description</th>
            <th>Expected results</th>
            <th>Actual results</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      #{/box}

    </div>
  </div>

</div>


<script type="text/javascript">
  $(document).ready(function() {

    #{tabularasa.init tableId:'instanceTable'}
    var instanceTableParameters = {
      "aoColumns": [
        {"sName": "id", "sClass": "sNone" },
        {"sName": "tagNames"},
        {"sName": "name"},
        {"sName": "executionStatus"}
      ],
      "sAjaxSource": "@{Execution.instances()}",
      "bProcessing": true,
      "bServerSide": true,
      "bLengthChange": false,
      "bSort": false,
      "bFilter": false,
      "iDisplayLength": 10,
      "bInfo": false,
      "oLanguage": {
        "sZeroRecords": "No test instances found"
      },
      "fnDrawCallback": function() {
        $('#runTable').dataTable().fnDraw(true);
      }
    };
    #{/tabularasa.init}

    #{tabularasa.init tableId:'runTable'}
    var runTableParameters = {
      "aoColumns": [
        {"sName": "id", "sClass": "sNone" },
        {"sName": "executionDate"},
        {"sName": "tester.fullName"},
        {"sName": "executionStatus"}
      ],
      "aoSorting": [
        [0, "desc"]
      ],
      "sAjaxSource": "@{Execution.runs()}",
      "bProcessing": true,
      "bServerSide": true,
      "bLengthChange": false,
      "bSort": false,
      "bFilter": false,
      "iDisplayLength": 10,
      "bInfo": false,
      "oLanguage": {
        "sZeroRecords": "No runs performed yet"
      },
      "fnDrawCallback": function() {
        $('#runStepTable').dataTable().fnDraw(true);
      }
    };
    #{/tabularasa.init}

    #{tabularasa.init tableId:'runStepTable'}
    var runStepTableParameters = {
      "aoColumns": [
        {"sName": "id", "sClass": "sNone" },
        {"sName": "position"},
        {"sName": "name"},
        {"sName": "descriptionHTML"},
        {"sName": "expectedResultHTML"},
        {"sName": "actualResult"},
        {"sName": "executionStatus"}
      ],
      "sAjaxSource": "@{Execution.runSteps()}",
      "bProcessing": true,
      "bServerSide": true,
      "bLengthChange": false,
      "bSort": false,
      "bFilter": false,
      "iDisplayLength": 10,
      "bInfo": false,
      "oLanguage": {
        "sZeroRecords": "No run steps defined"
      }
    };
    #{/tabularasa.init}

    function addRequestParameters(parameters, tableId) {
      if (tableId == 'instanceTable') {
        parameters.push({"name": "cycle", "value": $('#cycle option:selected').val() });
        parameters.push({"name": "status", "value": $('#status option:selected').val() });
        parameters.push({"name": "tags", "value": $('#tags').val() });
        parameters.push({"name": "responsible", "value": $('#responsible option:selected').val() });
        parameters.push({"name": "dateFrom", "value": $('#dateFrom').val() });
        parameters.push({"name": "dateTo", "value": $('#dateTo').val() });
      }
      if (tableId == 'runTable') {
        parameters.push({"name": "instanceId", "value": getSelectedRowId($('#instanceTable').dataTable())});
      }
      if (tableId == 'runStepTable') {
        parameters.push({"name": "runId", "value": getSelectedRowId($('#runTable').dataTable())});
      }
    }

    handleRowSelection('instanceTable', function(selectedRowId) {
      removeDialogs();
      refreshTableContents('runTable', false);
    });

    handleRowSelection('runTable', function(selectedRowId) {
      $('#runStepTable').dataTable().fnDraw(true);
      $('#updateRunDialogOpenDialogButton').button("enable");
    });



  });
</script>