#{if run == null}
No test run selected
#{/if}
#{else}

<table class="display" id="runStepTable">
  <thead>
  <tr>
    <th>Nr</th>
    <th>Name</th>
    <th>Description</th>
    <th>Expected results</th>
    <th>Actual results</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody></tbody>
</table>


<script type="text/javascript">
  $(document).ready(function() {

    #{tabularasa.init tableId:'runStepTable'}
    var runStepTableParameters = {
      "aoColumns": [
        {"sName": "id", "sClass": "sNone" },
        {"sName": "position"},
        {"sName": "description"},
        {"sName": "expectedResult"},
        {"sName": "actualResult"},
        {"sName": "executionStatus"}
      ],
      "sAjaxSource": "@{Execution.runSteps('runId', run.id)}",
      "bProcessing": true,
      "bServerSide": true,
      "bLengthChange": false,
      "bSort": false,
      "bFilter": false,
      "iDisplayLength": 10,
      "bInfo": false,
      "oLanguage": {
        "sZeroRecords": "No run steps defined"
      }
    };
    #{/tabularasa.init}

    handleRowSelection('runTable', function(selectedRowId) {
      $.get('@{Execution.runContent()}', { instanceId: selectedRowId }, function(data) {
        $('#runContent').html(data);
      });

    });

  });
</script>


#{/else}

