#{if run == null}
No test run selected
#{/if}
#{else}

<table class="display" id="runStepTable">
  <thead>
  <tr>
    <th>Nr</th>
    <th>Name</th>
    <th>Description</th>
    <th>Expected results</th>
    <th>Actual results</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody></tbody>
</table>


<script type="text/javascript">
  $(document).ready(function() {

    #{tabularasa.init tableId:'runStepTable'}
    var runStepTableParameters = {
      "aoColumns": [
        {"sName": "id", "sClass": "sNone" },
        {"sName": "position"},
        {"sName": "name"},
        {"sName": "descriptionHTML"},
        {"sName": "expectedResultHTML"},
        {"sName": "actualResult"},
        {"sName": "executionStatus"}
      ],
      "sAjaxSource": "@{Execution.runSteps()}",
      "bProcessing": true,
      "bServerSide": true,
      "bLengthChange": false,
      "bSort": false,
      "bFilter": false,
      "iDisplayLength": 10,
      "bInfo": false,
      "oLanguage": {
        "sZeroRecords": "No run steps defined"
      }
    };
    #{/tabularasa.init}

    function addRequestParameters(parameters, tableId) {
      if (tableId == 'runStepTable') {
        parameters.push({"name": "runId", "value": "${run.id}" });
      }
    }


  });
</script>


#{/else}

