#{if run == null}
No test run selected
#{/if}
#{elseif numberOfSteps < 1}
There are no steps defined for selected test run

<script type="text/javascript">
    $(document).ready(function () {
        $('#createRunDialog').removeClass('form-dialog');
        $('#createRunDialog').addClass('info-dialog');
        applyDialogStyles();
    });
</script>

#{/elseif}
#{else}
<form id="${formName}" name="${formName}" action="@{Execution.updateRun('runId': run.id)}" method="post">
    <table id="runTable">
        <thead>
        <th>Nr</th>
        <th>Name</th>
        <th>Description</th>
        <th>Expected results</th>
        <th>Actual results</th>
        <th>Status</th>
        </thead>
        <tbody>
        #{list items:run.getSteps(), as:'step'}
        <tr class="${step_parity}">
            <td>${step.position}</td>
            <td>${step.name}</td>
            <td>${step.descriptionEditableHTML.raw()}</td>
            <td>${step.expectedResultEditableHTML.raw()}</td>
            <td><textarea id="actualResult" name="actualResult_${step.id}" rows="5"
                          cols="48">${step.actualResult}</textarea>
            </td>
            <td>
                <select id="status" name="status_${step.id}">
                    <option value="">- pick -</option>
                    #{list items:models.tm.test.ExecutionStatus.runValues(), as:'s'}
                    <option value="${s.getPosition()}"
                    ${s.equals(step.executionStatus)?'selected':''}>${s}</option>
                    #{/list}
                </select>
            </td>
        </tr>
        #{/list}

        </tbody>
    </table>
</form>

<script type="text/javascript">
    $(document).ready(function () {

        $('.editParam').editable('@{Execution.updateParameter("runId": run.id)}', {
            callback : function(value, settings) {
                // go through all parameters of all steps, and check if we by chance have the same parameter used somewhere else.
                // if yes, update its value
                var thisId = $(this).attr('id');
                var paramId = thisId.substring(0, thisId.lastIndexOf('_'));
                $('#runForm div[id^="' + paramId + '"][id!="' + thisId + '"]').each(function(index, el) {
                    if ($.trim(value).length) {
                        $(el).html(value);
                    } else {
                        $(el).html("Click to edit");
                    }
                });
            }
        });

        $('#createRunDialog').addClass('form-dialog');
        $('#createRunDialog').removeClass('info-dialog');
        applyDialogStyles();

        $('#createRunDialog').dialog("option", "buttons", {
            "Save": {
                click: function() {
                    $('#runForm').ajaxSubmit({
                        success: function(data) {
                            fullDrawInstanceTable = false;
                            refreshTableContents('#instanceTable', false);
                            $('#createRunDialog').dialog("close");
                            if (data != null && data != '') {
                                createdRunId = data;
                                $('#createDefectDialog').dialog("open");
                            }
                        },
                        error: function(xhr, textStatus, errorThrown) {
                            errorHandler(xhr, textStatus, errorThrown);
                            $('#createRunDialog').dialog("close");
                        }
                    });
                },
                id: "createRunDialogConfirmButton",
                text: "Save"
            },
            "Cancel": {
                click: function() {
                    $(this).dialog("close");
                },
                id: "createRunDialogCancelButton",
                text: "Cancel"
            }
        });
    });

</script>
#{/else}
