#{if release == null}
No release selected
#{/if}
#{else}
#{box release.name+' details'}

#{input.form action:@Approach.editRelease(), id:'releaseForm', baseObject:release}
<script type="text/javascript">
  function releaseFormSubmissionCallback() {
//    jQuery.jstree._reference('approachTree').refresh(getTreeNode('approachTree', 'approachRelease', '${release.id}'));
  }
</script>


  #{input.field field:'release.name', label:'Name' /}

  <input type="hidden" name="release.id" value="${release.id}"/>
  <input type="hidden" name="release.project.id" value="${release.project.id}"/>
  <input type="hidden" name="release.project.account.id" value="${release.project.account.id}"/>
  <input type="hidden" name="release.project.projectCategory.id" value="${release.project.projectCategory.id}"/>
  <input type="hidden" name="release.project.projectCategory.account.id" value="${release.project.projectCategory.account.id}"/>
  #{input.submit /}

#{/input.form}

#{/box}
#{/else}
