#{extends 'main.html' /}
#{set title:'Requirements' /}


<div class="container">
    <div class="left_tree">
        <div id="actions">
            #{deadbolt.restrict roles:[[models.general.UnitRole.REQCREATE]]}
            <button id="create_folder">Create new folder</button>
            <button id="create_requirement">Create new requirement</button>
            <button id="import_requirements">Import requirements</button>
            <div id="importRequirementsDialog">
              <form action="@{Requirements.importExcel()}" method="POST" enctype="multipart/form-data" id="importExcelForm">
                <label for="excelFile">Excel file</label>
                <input type="file" id="excelFile" name="excelFile" />
              </form>
            </div>
            #{/deadbolt.restrict}
            #{deadbolt.restrict roles:[[models.general.UnitRole.REQDELETE]]}
            <button id="remove">Remove</button>
            #{/deadbolt.restrict}
        </div>
        <div id="requirementTree" class="tree"></div>
    </div>
    <div class="right_tree">
        <div id="innerTabs">
            <ul>
                <li><a href="#requirementDetails" id="details"><span>Requirement details</span></a></li>
                <li><a href="#linked"><span>Linked entities</span></a></li>
            </ul>
            <div id="requirementDetails">
                <div class="hiddenOnLoad">
                    #{ox.form action:@Requirements.edit(), edit:util.Require.roles([[models.general.UnitRole.REQEDIT]]),
                    id:'requirementForm', baseClass:'models.tm.Requirement'}
                    #{ox.field field:'requirement.name', label:'Name' /}
                    #{ox.field field:'requirement.description', label:'Description' /}
                    #{ox.field field:'requirement.tags', label:'Tags', type:'tags' /}
                    *{the following fields are necessary because play can't bind stuff automatically yet}*
                    #{ox.field field:'requirement.id', hidden:true /}
                    #{ox.field field:'requirement.account.id', hidden:true /}
                    #{ox.field field:'requirement.project.id', hidden:true /}
                    #{ox.field field:'requirement.project.account.id', hidden:true /}
                    #{ox.field field:'requirement.project.projectCategory.id', hidden:true /}
                    #{ox.field field:'requirement.project.projectCategory.account.id', hidden:true /}
                    #{ox.submit /}
                    #{/ox.form}
                </div>
                <div class="shownOnLoad">
                    No requirement selected.
                </div>

            </div>
            <div id="linked">
                <div class="hiddenOnLoad">
                    #{include 'Requirements/linkedEntities.html' /}
                </div>
                <div class="shownOnLoad">
                    No requirement selected.
                </div>
            </div>
        </div>
    </div>
</div>


#{set 'moreScripts'}
<script type="text/javascript">

    $(document).ready(function () {

        $("#innerTabs").tabs();

        $('.oxdisplayfield').removeClass('field');

        $("#requirementTree").tree({types: requirementTreeTypes, onRename: function(name) {
            var fieldName = '#' + $('#requirementForm').oxForm('getFieldId', 'requirement.name');
            $(fieldName).val(name);
        }
        });

        $('#requirementForm').oxForm({
            loadAction: '@{Requirements.requirementsDetailsData()}',
            submissionCallback: function() {
                refreshTree('requirementTree');
            }
        });

        #{deadbolt.restrict roles:[[models.general.UnitRole.REQCREATE], [models.general.UnitRole.REQEDIT]]}
        // tags
        var tokens = $('#requirementForm_requirement_tags').tokenInput({
            url: '@{Requirements.allTags()}',
            preventDuplicates: true,
            tokenValue: 'name',
            allowCreation: true,
            creationText: "Create new tag"
        });
        #{/deadbolt.restrict}

        $("#requirementTree").bind("select_node.jstree", function (e, data) {
            if (isSelectedNodeType(data, ["requirement", "default"])) {
                $('.shownOnLoad').hide();
                $('.hiddenOnLoad').show();

                var requirementId = getSelectedNodeId('requirementTree');
                $('#requirementForm').oxForm('load', requirementId);

                reloadTables();
            }
        });

        $('#create_folder').button({icons: {primary: 'ui-icon-plus', secondary: 'ui-icon-folder-open'}, text: false}).click(function () {
            $("#requirementTree").jstree("create", null, "last", {attr:{"rel":"requirementFolder"}, data:"New folder"});
        });
        $('#create_requirement').button({icons: {primary: 'ui-icon-plus', secondary: 'ui-icon-flag'}, text: false}).click(function () {
            $("#requirementTree").jstree("create", null, "last", {attr:{"rel":"default"}, data:"New requirement"});
        });
        $('#remove').button({icons: {primary: 'ui-icon-minus'}, text: false}).click(function () {
            $("#requirementTree").jstree("remove", null);
        });

        $('#import_requirements').button().click(function() {
          $('#importRequirementsDialog').dialog('open');
        });

        $('#importRequirementsDialog').dialog({
          autoOpen: false,
          height: 200,
          width: 300,
          modal: true,
          title: 'Import Requirements from Excel file',
          buttons: {
            "Upload": function() {
              alert("");

              $('#importExcelForm').ajaxSubmit({
                success: function() {
                  $(this).dialog('close');
                },
                error: function() {
                  // TODO actually explain the error message, maybe here we need something more detailed with a link
                  // TODO to a page giving a template or so
                  errorMessage('Could not upload Excel sheet, please try again!');
                }
              });
            },
            Cancel: function() {
              $(this).dialog('close');
            }
          }

        });


    });

</script>
#{/set}
