#{extends 'main.html' /}
#{set title:'Requirements' /}

<div class="container">
  <div class="left_tree">
    <div id="actions">
      #{deadbolt.restrict roles:[[models.general.UnitRole.REQCREATE]]}
        <button id="create_folder">Folder</button>
        <button id="create_requirement">Requirement</button>
      #{/deadbolt.restrict}
      #{deadbolt.restrict roles:[[models.general.UnitRole.REQDELETE]]}
        <button id="remove">Remove</button>
      #{/deadbolt.restrict}
    </div>
    <div id="requirementTree" class="tree"></div>
  </div>
  <div class="right_tree">
    <div id="innerTabs">
      <ul>
        <li><a href="#requirementDetails" id="details"><span>Requirement details</span></a></li>
        <li><a href="#linked"><span>Linked entities</span></a></li>
      </ul>
      <div id="requirementDetails">

        <div class="hiddenOnLoad">
          #{ox.form action:@Requirements.edit(), id:'requirementForm', baseClass:'models.tm.Requirement',
          loadAction:@Requirements.requirementsDetailsData()}
          #{ox.field field:'requirement.name', label:'Name' /}
          #{ox.field field:'requirement.description', label:'Description' /}
          <div class="field">
            <label class="name" for="tags">Tags</label>
            <input name="tags" id="tags" type="text"/>
          </div>
          *{the following fields are necessary because play can't bind stuff automatically yet}*
          #{ox.field field:'requirement.id', hidden:true /}
          #{ox.field field:'requirement.type.id', hidden:true /}
          #{ox.field field:'requirement.account.id', hidden:true /}
          #{ox.field field:'requirement.project.id', hidden:true /}
          #{ox.field field:'requirement.project.account.id', hidden:true /}
          #{ox.field field:'requirement.project.projectCategory.id', hidden:true /}
          #{ox.field field:'requirement.project.projectCategory.account.id', hidden:true /}
          #{input.submit /}
          #{/ox.form}
        </div>
        <div class="shownOnLoad">
          No requirement selected.
        </div>

      </div>
      <div id="linked">
        <div class="hiddenOnLoad">
          #{include 'Requirements/linkedEntities.html' /}
        </div>
        <div class="shownOnLoad">
          No requirement selected.
        </div>
      </div>
    </div>
  </div>
</div>


#{set 'moreScripts'}
<script type="text/javascript">

  $(document).ready(function () {

    $("#innerTabs").tabs();

    $("#requirementTree").tree({types: requirementTreeTypes});

    $('#requirementForm').oxForm({
      loadAction: '@{Requirements.requirementsDetailsData()}',
      // this is a workaround to provide the tag value at submission time, as long as the tags aren't integrated into ox.forms.
      submissionParameters: function() {
        return {tags: $('#tags').val() };
      },
      submissionCallback: function() {
        refreshTree('requirementTree');
      }
    });

    // tags
    var tokens = $('#tags').tokenInput('@{Requirements.allTags()}', {
      preventDuplicates: true,
      tokenValue: 'name',
      allowCreation: true,
      creationText: "Create new tag"
    });

    $('#scriptDetailsForm li.token-input-input-token').change(function() {
      $('#scriptDetailsForm_submit').button('enable');
    });

    $("#requirementTree").bind("select_node.jstree", function (e, data) {
      if (isSelectedNodeType(data, ["requirement", "default"])) {
        $('.shownOnLoad').hide();
        $('.hiddenOnLoad').show();

        var requirementId = getSelectedNodeId('requirementTree');
        $('#requirementForm').oxForm('load', requirementId);

        // tags data loading
        $.getJSON('@{Requirements.tags()}', {requirementId: requirementId}, function(data) {
          tokens.clearTokens();
          $(data).each(function() {
            tokens.addToken(this.id, this.name);
          });
        });

        reloadTables();
      }
    });

    $('#create_folder').button({icons: {primary: 'ui-icon-plus'}}).click(function () {
      $("#requirementTree").jstree("create", null, "last", {attr:{"rel":"requirementFolder"}});
    });
    $('#create_requirement').button({icons: {primary: 'ui-icon-plus'}}).click(function () {
      $("#requirementTree").jstree("create", null, "last", {attr:{"rel":"default"}});
    });
    $('#remove').button({icons: {primary: 'ui-icon-minus'}}).click(function () {
      $("#requirementTree").jstree("remove", null);
    });

  });

</script>
#{/set}
