<div id="actions">
  <button id="linkScript">Script</button>
  <button id="unlinkScript">Remove</button>
</div>

#{box 'Linked scripts'}
<table class="display" id="scriptTable">
  <thead>
  <tr>
    <th>Name</th>
  </tr>
  </thead>
  <tbody></tbody>
</table>
#{/box}

<div id="linkScriptDialog" title="Assign requirement to test script">
  <div id="repositoryTree" class="tree"></div>
</div>

<script type="text/javascript">
  $(document).ready(function() {

    $("#repositoryTree").tree({types: repositoryTreeTypes});

    $("#linkScript").button({icons: {primary: "ui-icon-plus"}}).click(function() {
      $("#linkScriptDialog").dialog("open");
    });

    $("#unlinkScript").button({icons: {primary: 'ui-icon-minus'}, disabled: true}).click(function () {
      $.post('@{Requirements.unlinkScript()}', {requirementId: getSelectedNodeId('requirementTree'), scriptId: extractId(getSelectedRowId($('#scriptTable').dataTable()))}).success(
              function(data) {
                $('#scriptTable').dataTable().fnDraw();
              }).error(
              function() {
                // TODO modal alert
                alert("error")
              });
    });

    #{tabularasa.init tableId:'scriptTable'}
    var scriptTableParameters = {
      "aoColumns": [
        {"sName": "id", "sClass": "sNone", "sWidth": "0%" },
        {"sName": "name", "sWidth": "100%"}
      ],
      "aoSorting": [
        [0, "desc"]
      ],
      "sAjaxSource": "@{Requirements.linkedScripts()}",
      "bProcessing": true,
      "bServerSide": true,
      "bScrollCollapse": true,
      "bPaginate": false,
      "bLengthChange": false,
      "bSort": false,
      "bFilter": false,
      "bAutoWidth": false,
      "bInfo": false,
      "oLanguage": {
        "sZeroRecords": "No linked scripts"
      }
    };
    #{/tabularasa.init}

    function addRequestParameters(parameters, tableId) {
      parameters.push({"name": "requirementId", "value": getSelectedNodeId('requirementTree')});
    }

    // TODO selection handler, button greyed out
    handleRowSelection('scriptTable', function() {
      $("#unlinkScript").button('enable');
    });


    $("#linkScriptDialog").dialog({
      autoOpen: false,
      height: 550,
      width: 300,
      modal: true,
      buttons: {
        "Link to test script": function() {

          var valid = false;
          var treeContainer = $("#repositoryTree");
          var $tree = jQuery.jstree._reference(treeContainer);
          var selectedNode = $tree.get_selected();
          if ($tree._get_type(selectedNode) == 'script') {
            valid = true;
          } else {
            // display validation error or message somehow
            alert("You need to select a script");
          }

          if (valid) {
            $.post('@{Requirements.linkScript()}', {requirementId: getSelectedNodeId('requirementTree'), scriptId: extractId(selectedNode.attr('id'))}).success(
                    function(data) {
                      $('#scriptTable').dataTable().fnDraw();
                    }).error(
                    function() {
                      // TODO modal alert
                      alert("error")
                    });

            $(this).dialog("close");
          }
        },
        Cancel: function() {
          $(this).dialog("close");
        }
      }
    });
  });
</script>

