<div id='unlinkScriptConfirmationDialog' title="Confirm script deletion"></div>

<div id="actions">
    #{deadbolt.restrict roles:[[models.general.UnitRole.REQEDIT]]}
    <button id="linkScript" class="button-add">Script</button>
    <button id="unlinkScript" class="button-delete">Remove</button>
    #{/deadbolt.restrict}
</div>

#{box 'Test scripts'}
<table class="display" id="scriptTable">
    <thead>
    <tr>
        <th>Test Script name</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>
#{/box}

#{box 'Test execution'}
<table class="display" id="instanceTable">
    <thead>
    <tr>
        <th>Test Instance name</th>
        <th>Tags</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>
#{/box}

#{box 'Defects'}
<table class="display" id="defectTable">
    <thead>
    <tr>
        <th>Defect ID</th>
        <th>Defect title</th>
        <th>Tags</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>
#{/box}


#{deadbolt.restrict roles:[[models.general.UnitRole.REQEDIT]]}
<div id="linkScriptDialog" title="Assign Test Script to Requirement">
    <div id="repositoryTree" class="tree"></div>
</div>
#{/deadbolt.restrict}

<script type="text/javascript">
    $(document).ready(function() {

        #{tabularasa.init tableId:'scriptTable'}
        var scriptTableParameters = {
            "aoColumns": [
                {"sName": "id", "sClass": "sNone", "sWidth": "0%" },
                {"sName": "name", "sWidth": "100%"}
            ],
            "aoSorting": [
                [0, "desc"]
            ],
            "sAjaxSource": "@{Requirements.linkedScripts()}",
            "bProcessing": false,
            "bServerSide": true,
            "bScrollCollapse": true,
            "bPaginate": false,
            "bLengthChange": false,
            "bSort": false,
            "bFilter": false,
            "bAutoWidth": false,
            "bInfo": false,
            "oLanguage": {
                "sZeroRecords": "No linked scripts"
            }
        };
        #{/tabularasa.init}

        function addRequestParameters(parameters, tableId) {
            parameters.push({"name": "requirementId", "value": getSelectedNodeId('requirementTree')});
        }

        handleRowSelection('#scriptTable', function(rowId) {
            if(rowId!=''){
              $("#unlinkScript").button('enable');
            }
        });


        #{tabularasa.init tableId:'instanceTable'}
        var instanceTableParameters = {
            "aoColumns": [
                {"sName": "id", "sClass": "sNone", "sWidth": "0%" },
                {"sName": "name"},
                {"sName": "tagNames"},
                {"sName": "executionStatus"}
            ],
            "aoSorting": [
                [0, "desc"]
            ],
            "sAjaxSource": "@{Requirements.linkedInstances()}",
            "bProcessing": false,
            "bServerSide": true,
            "bScrollCollapse": true,
            "bPaginate": false,
            "bLengthChange": false,
            "bSort": false,
            "bFilter": false,
            "bAutoWidth": false,
            "bInfo": false,
            "oLanguage": {
                "sZeroRecords": "No linked test instances"
            }
        };
        #{/tabularasa.init}

        #{tabularasa.init tableId:'defectTable'}
        var defectTableParameters = {
            "aoColumns": [
                {"sName": "id", "sClass": "sNone", "sWidth": "0%" },
                {"sName": "naturalId", "sWidth": "10%"},
                {"sName": "name"},
                {"sName": "tagNames"},
                {"sName": "status.name"}
            ],
            "aoSorting": [
                [0, "desc"]
            ],
            "sAjaxSource": "@{Requirements.linkedDefects()}",
            "bProcessing": false,
            "bServerSide": true,
            "bScrollCollapse": true,
            "bPaginate": false,
            "bLengthChange": false,
            "bSort": false,
            "bFilter": false,
            "bAutoWidth": false,
            "bInfo": false,
            "oLanguage": {
                "sZeroRecords": "No linked defects"
            }
        };
        #{/tabularasa.init}


        $("#repositoryTree").tree({types: repositoryTreeTypes});

        $("#linkScript").click(function() {
            $("#linkScriptDialog").dialog("open");
        });

        $("#unlinkScript").click(function () {
            deletionConfirmation('unlinkScriptConfirmationDialog', 'Script', getSelectedRowColumn($('#scriptTable').dataTable(), 1), function(){
                $.post('@{Requirements.unlinkScript()}', {requirementId: getSelectedNodeId('requirementTree'), scriptId: extractId(getSelectedRowId('#scriptTable'))}).success(
                    function(data) {
                        $('#scriptTable').dataTable().fnDraw();
                        refreshTableContents('#defectTable', false);
                        refreshTableContents('#instanceTable', false);
                    }).error(errorHandler);
            })

        });

        $("#linkScriptDialog").dialog({
            autoOpen: false,
            height: 550,
            width: 300,
            modal: true,
            buttons: {
                "Link": function() {

                    var valid = false;
                    var treeContainer = $("#repositoryTree");
                    var $tree = jQuery.jstree._reference(treeContainer);
                    var selectedNode = $tree.get_selected();
                    if ($tree._get_type(selectedNode) == 'script') {
                        valid = true;
                    } else {
                        errorMessage("You need to select a script");
                    }

                    if (valid) {
                        $.post('@{Requirements.linkScript()}', {requirementId: getSelectedNodeId('requirementTree'), scriptId: extractId(selectedNode.attr('id'))}).success(
                                function(data) {
                                    $('#scriptTable').dataTable().fnDraw();
                                }).error(errorHandler)

                        refreshTableContents('#defectTable', false);
                        refreshTableContents('#instanceTable', false);

                        $(this).dialog("close");
                    }
                },
                Cancel: function() {
                    $(this).dialog("close");
                }
            }
        });
    });
</script>

