#{if user == null}
No user selected
#{/if}
#{else}
        
#{ifErrors}
<div class="error">
    <h2>Oops, please correct these errors</h2>
</div>
#{/ifErrors}

<fieldset style="width: 90%;">
    <legend>Profile information</legend>

  #{form action:action, id:'profileForm'}

    #{input.field field:'user.authentication.firstName', label:'First Name', baseObject:user /}
    #{input.field field:'user.authentication.lastName', label:'Last Name', baseObject:user /}
    #{input.field field:'user.authentication.email', label:'Email', baseObject:user /}
    #{input.field field:'user.authentication.phone', label:'Phone', baseObject:user /}
    <input type="hidden" name="user.id" value="${user.id}"/>
    <input type="hidden" name="user.authentication.id" value="${user.authentication.id}"/>
    <input type="hidden" name="user.authentication.account.id" value="${user.authentication.account.id}"/>
    <input type="submit" value="Save">

  #{/form}

  #{validate 'profileForm' /}

</fieldset>
#{/else}