#{if user == null}
No user selected
#{/if}
#{else}
        
#{ifErrors}
<div class="error">
    <h2>Oops, please correct these errors</h2>
</div>
#{/ifErrors}

#{input.form action:action, id:'profileForm', baseObject:user}
<script type="text/javascript">
  function profileFormSubmissionCallback() {
    refreshTableContents('#tab', false);
  }
</script>

  #{input.field field:'user.user.firstName', label:'First Name' /}
  #{input.field field:'user.user.lastName', label:'Last Name' /}
  #{input.field field:'user.user.email', label:'Email' /}
  #{input.field field:'user.user.phone', label:'Phone' /}
  <input type="hidden" name="user.id" value="${user.id}"/>
  <input type="hidden" name="user.user.id" value="${user.user.id}"/>
  <input type="hidden" name="user.account.id" value="${user.account.id}"/>
  <input type="hidden" name="user.user.account.id" value="${user.user.account.id}"/>
  #{input.submit /}

#{/input.form}

#{/else}