body {
  margin: 0;
  color: #333333;
  font: 12px/1.4 arial, FreeSans, Helvetica, sans-serif;
}

div.tree {
  min-width: 250px;
  width: auto;
  min-height: 400px;
  overflow: auto;
}

.box-header {
  margin-top: 5px;
  padding: 0px 0px 0px 5px;
}

.box-content {
  overflow: hidden;
  padding: 5px 5px 5px 5px;
}

.parameter {
  display: inline;
  font-weight: bold;
}

.editStyle {
  display: inline;
  font-weight: bold;
  border-style: dashed;
  border-width: thin;
}

h1 {
  text-align: center;
}

.field {
  clear: both;
  margin-bottom: 2px;
}

.infos {
  color: #666;
  margin-bottom: 5px;
}

.error {
  display: inline;
  color: #c00;
}

/* container stuff */
div.container {
/*border: 1px solid #000000;*/
  overflow: auto;
  width: 100%
}

div.left_table {
  width: 30%;
  float: left;
}

div.right_table {
  width: 65%;
  float: right;
}

div.left_tree {
  width: 20%;
  float: left;
}

div.right_tree {
  width: 70%;
  float: right;
}

div.right_column {
  float: right;
  width: 50%;
}

div.left_column {
  float: left;
  width: 50%;
}

td.sNone {
  display: none;
}

/* styles for form elements */

form label {
  display: block;
  float: left;
  width: 100px;
  text-align: right;
  margin: 6px 5px 0px 0px;
}

.formSubmit {
/* 100px come from the label that has a width of 100, 2px of the inputs that have a margin of 2, and 1 px of the input border */
  margin-left: 107px;
}

/* styles for form elements in dialogs */

.ui-dialog input {
  display: inline;
  margin-right: 5px;
}

.ui-dialog input.text {
  margin-bottom: 12px;
  width: 95%;
  padding: .4em;
}

.ui-dialog fieldset {
  padding: 0;
  border: 0;
  margin-top: 25px;
}

/* empty class used as CSS selector, this is a workaround for a jQuery bug */
div.modalDialog {

}

/* modified tabs */
ul#tabs_header {
  background: none;
  border-left: none;
  border-right: none;
  border-top: none;
}

div#top_menu {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000000; /* probably a lower value is enough */
}

.ui-tabs {
  overflow: hidden; /*add this line */
  padding: 0.2em;
  position: relative;
}

/* modified buttons */
.ui-button .ui-button-text {
  font-size: 12px;
}