body {
    margin: 0;
    font: 12px/1.4 arial, FreeSans, Helvetica, sans-serif;
    background-color:#E2E4FF;
}

/* setting margin and padding to 0px to reset browser's default settings */
input {
    margin: 0;
    padding: 0;
}

textarea{
    margin: 0;
    padding: 0;
}

div.tree {
    min-width: 250px;
    width: auto;
    min-height: 400px;
    overflow: auto;
}

.box-header {
    margin-top: 5px;
    padding: 0px 0px 0px 5px;
}

.box-content {
    overflow: hidden;
    padding: 5px 5px 5px 5px;
}

.parameter {
    display: inline;
    font-weight: bold;
}

.viewParam {
    display: inline;
    font-weight: bold;
}

.editParam {
    display: inline;
    font-weight: bold;
    border-style: dashed;
    border-width: thin;
}

h1 {
    text-align: center;
}

.infos {
    color: #666;
    margin-bottom: 5px;
}

label.error {
    float: none;
    color: red;
    padding-left: .5em;
    vertical-align: top;
}

.hiddenOnLoad {
    display: none;
}

/* container stuff */
div.container {
/*border: 1px solid #000000;*/
    overflow: auto;
    width: 100%
}

div.left_table {
    width: 35%;
    float: left;
}

div.right_table {
    width: 64%;
    float: right;
}

div.left_tree {
    width: 35%;
    float: left;

}

div.right_tree {
    width: 65%;
    float: right;
    margin-top:0.1em;
}

div.inner{
    margin-top:-0.3em;
}

div.right_column {
    float: right;
    width: 47%;
}

div.left_column {
    float: left;
    width: 47%;
}

td.sNone {
    display: none;
}

/* styles for form elements */

.field {
    clear: both;
    margin-bottom: 0.2em;

}

label.name {
    display: block;
    float: left;
    width: 100px;
    text-align: right;
    margin: 2px 8px 0px 0px;
}

label.extended {
    width:25%;
    margin:3px 10px 0px 0px;
}

span.name {
    display: block;
    float: left;
    width: 100px;
    text-align: right;
    margin: 0px 5px 0px 0px;
}

.formSubmit {
/* 100px come from the label that has a width of 100, 2px of the inputs that have a margin of 2, and 1 px of the input border */
    margin-left: 107px;
}

/* styles for form elements in dialogs */

.ui-dialog input {
    display: inline;
    margin-right: 5px;
}

.ui-dialog input.text {
    margin-bottom: 12px;
    width: 95%;
    padding: .4em;
}

.ui-dialog fieldset {
    padding: 0;
    border: 0;
    margin-top: 25px;
}

/* empty class used as CSS selector, this is a workaround for a jQuery bug */
div.modalDialog {

}

/* modified tabs */
ul#tabs_header {
    background: none;
    border-left: none;
    border-right: none;
    border-top: none;
}

div#top_menu {
    position: absolute;
    right: 22px;
    top: 10px;
    z-index: 1000; /* probably a lower value is enough */
    text-align: right;
}

.ui-tabs {
    overflow: hidden; /*add this line */
    padding: 0.2em;
    position: relative;
}

/* modified buttons */
.ui-button .ui-button-text {
    font-size: 12px;
}

.searchBox{
    float:left;
    width:100%;
    padding:0.2em;
}

.searchInput{
    float:right;
    margin-top:0.4em;
}

.tag-inlining-input{
    float:left;
}

.tag-inlining-label{
    float:left;
    margin-right:1em;
}

.actions{
    width:100%;
}

.actions .buttons{
    width:35%;
}

.tree-container{
    float:left;
    width:100%;
}

.table-inlining-tabs{
    margin-top:3.8em;
}

.search-input-table-left{
    width:100%;
    float:left;
    text-align:left;
    margin-top:5px;
}

a.export{
    height:18px;
    background-image:url("../images/icons/page_excel.png");
    background-repeat:no-repeat;
    padding-left:20px;
    display:inline-block;
}

/* additional style for jquery UI */
#main-wrapper{
    margin:40px 20px 20px 20px;
    background-color:transparent;
}

.comments-actions{
    float:right;
    width:100%;
    text-align:right;
    margin-bottom:5px;
}

.comments-caption{
    margin-bottom:5px;
    background-color:#E2E4FF;
    padding:4px;
    border-radius:3px;
}

.comments-entry{
    padding:10px;
    margin:5px;
    border:solid 1px;
    border-radius:3px;
}

.comments-entry-edit-container{
    /*padding:10px;*/
    /*margin:5px;*/
    /*border:solid 1px;*/
    /*border-radius:5px;*/
}

.comment-container{
    overflow:auto;
    width:80%;
    margin-bottom:5px;
}

label.comment{
    display: block;
    float: left;
    width: 100px;
    text-align: right;
    margin: 0px 8px 0px 0px;
    font-weight:bold;
}


