#{if project == null}
No project selected
#{/if}
#{else}

<div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
  <p>
    <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
     When Test Cycles are defined for a project, the newly created Test Instances will require to be assigned to a Test Cycle. Test Execution progress can then be checked against the planned execution.<br/>
     Alternatively simple tags can be used to organize the Test Execution.
  </p>
</div>
<br/>

<div class="container">
  <div class="left_tree">
    <div id="actions">
      <button id="create_release">Release</button>
      <button id="create_cycle">Cycle</button>
      <button id="remove_cycleRelease">Remove</button>
    </div>
    <div id="approachTree" class="tree"></div>
  </div>
  <div class="right_tree">
    <div id="details">No cycle selected</div>
  </div>
</div>


<script type="text/javascript">

  $(document).ready(function () {

    $('#approachTree').tree({"args" : {"projectId": "${project == null ? controllers.TMController.getActiveProject().getId() : project.id}"}, types: approachTreeTypes});

    /** Selection listener **/
    $("#approachTree").bind("select_node.jstree", function (e, data) {
      if (isSelectedNodeType(data, ['default', 'testCycle'])) {
        $.get('@{admin.Approach.cycleDetails()}', { cycleId: getNodeIdFromData(data) }, function(data) {
          $('#details').html(data);
        });
      } else if (isSelectedNodeType(data, ['release'])) {
        $.get('@{admin.Approach.releaseDetails()}', { releaseId: getNodeIdFromData(data) }, function(data) {
          $('#details').html(data);
        });
      }
    });


    /** button initialisation **/
    $("#create_release").button({icons: {primary: 'ui-icon-plus'}}).click(function () {
      $("#approachTree").jstree("create", -1, "last", {attr:{"rel":"release"}, metadata: {args: {projectId: '${project.id}'}}});
    });
    $("#create_cycle").button({icons: {primary: 'ui-icon-plus'}}).click(function () {
      $("#approachTree").jstree("create", null, "last", {attr:{"rel":"default"}, metadata: {args: {projectId: '${project.id}'}}});
    });
    $("#remove_cycleRelease").button({icons: {primary: 'ui-icon-minus'}}).click(function () {
      $("#approachTree").jstree("remove", null);
    });

  });

</script>

#{/else}