

<div id="cycleDeletionConfirmationDialog" title="Confirm deletion"></div>

#{infoBox}
When Test Cycles are defined for a project, the newly created Test Instances will require to be assigned to a Test Cycle. Test Execution progress can then be checked against the planned execution.<br/>
Alternatively simple tags can be used to organize the Test Execution.
#{/}

<!-- todo reorganise css classes to fit different width and positioning needs-->

<div class="container">
    <div id="actions" class="actions">
        <div class="actions buttons">
          <button class="button-add" id="create_release">Release</button>
          <button class="button-add" id="create_cycle">Cycle</button>
          <button class="button-delete" id="remove_cycleRelease">Remove</button>
        </div>
    </div>
  <div class="tree-container">
      <div class="left_tree" style="width:29%">
        #{box 'Releases and Cycles'}
        <div id="approachTree" class="tree" style="border:none;"></div>
        #{/box}
      </div>
      <div class="right_table" style="width:70%">
    <div id="details">
        <div id="shownOnLoad">
            #{box 'Details'}
                No cycle or release chosen
            #{/box}
        </div>
        <div id="releaseDetails">
            #{box 'Release details'}
            #{ox.form action:@admin.Approach.editRelease(), id:'releaseForm', edit:util.Require.roles([[models.general.UnitRole.PROJECTEDIT]]), baseClass:'models.tm.approach.Release'}

                #{ox.field field:'release.name', label:'Name' /}
                #{ox.field field:'release.id', hidden:true /}
                #{ox.field field:'release.project.id', hidden:true /}
                #{ox.field field:'release.account.id', hidden:true /}
                #{ox.field field:'release.project.account.id', hidden:true /}
                #{ox.field field:'release.project.projectCategory.id', hidden:true /}
                #{ox.field field:'release.project.projectCategory.account.id', hidden:true /}

                #{ox.submit /}
            #{/ox.form}
            #{/box}
        </div>
        <div id="cycleDetails">
            #{box 'Cycle details'}
            #{ox.form action:@admin.Approach.editCycle(), id:'cycleForm', edit:util.Require.roles([[models.general.UnitRole.PROJECTEDIT]]), baseClass:'models.tm.approach.TestCycle'}

                #{ox.field field:'cycle.name', label:'Name' /}
                #{ox.field field:'cycle.description', label:'Description' /}
                #{ox.field field:'cycle.fromDate', label:'From' /}
                #{ox.field field:'cycle.toDate', label:'To' /}
                #{ox.field field:'cycle.id', hidden:true /}
                #{ox.field field:'cycle.project.id', hidden:true /}
                #{ox.field field:'cycle.account.id', hidden:true /}
                #{ox.field field:'cycle.project.account.id', hidden:true /}
                #{ox.field field:'cycle.project.projectCategory.id', hidden:true /}
                #{ox.field field:'cycle.project.projectCategory.account.id', hidden:true /}

                #{ox.submit /}
            #{/ox.form}
            #{/box}
        </div>
    </div>
  </div>
  </div>
</div>


<script type="text/javascript">

  $(document).ready(function () {

        $('#cycleForm').oxForm({
          loadAction: '@{admin.Approach.cycleDetails()}',
          submissionCallback:function() {
                                refreshTree('approachTree');
                              }
        });

        $('#releaseForm').oxForm({
          loadAction: '@{admin.Approach.releaseDetails()}',
          submissionCallback:function() {
                                refreshTree('approachTree');
                              }
        });

        $('#releaseDetails').hide();
        $('#cycleDetails').hide();
        $('#shownOnLoad').show();

        $("#projectTree").bind("select_node.jstree", function (e, data) {
            $('#releaseDetails').hide();
            $('#cycleDetails').hide();
            $('#shownOnLoad').show();

            if($.jstree._reference('#approachTree') == null && getProjectNodeId!=null){

                $('#approachTree').tree(
                    {
                      "args" : {"projectId": getProjectNodeId},
                      types: approachTreeTypes,
                      onDeleteFailed: function() {
                        errorMessage("Could not delete requirement/cycle - make sure there are no linked instances left.", "Error deleting requirement/cycle")
                      },
                      onRename: function(name, type) {

                        if(type=='testCycle'){
                            $('#cycleForm_cycle_name').val(name);
                        }
                        else if(type=='release'){
                            $('#releaseForm_release_name').val(name);
                        }
                      }
                });
            }
            if(getProjectNodeId!=null){
                refreshTree('approachTree');
            }
        });

        /** button initialisation **/
        $("#create_release").click(function () {
          $("#approachTree").jstree("create", null, "last", {attr:{"rel":"release"}, data:"New release", metadata: {args: {projectId: getProjectNodeId}}});
        });
        $("#create_cycle").click(function () {
          $("#approachTree").jstree("create", null, "last", {attr:{"rel":"default"}, data:"New cycle", metadata: {args: {projectId: getProjectNodeId}}});
        });
        $("#remove_cycleRelease").click(function () {
            deletionConfirmation('cycleDeletionConfirmationDialog','Project cycle', getSelectedNodeName('approachTree') ,function(){
                $("#approachTree").jstree("remove", null);
            })

        });

        /** Selection listener **/
        $("#approachTree").bind("select_node.jstree", function (e, data) {
          if (isSelectedNodeType(data, ['default', 'testCycle'])) {
             $("#remove_cycleRelease").button('enable');
             $('#releaseDetails').hide();
             $('#cycleDetails').show();
             $('#shownOnLoad').hide();
             $('#cycleForm').oxForm('load', getSelectedNodeId('approachTree'));
          } else if (isSelectedNodeType(data, ['release'])) {
             $("#remove_cycleRelease").button('enable');
              $('#releaseForm').oxForm('load', getSelectedNodeId('approachTree'));
              $('#releaseDetails').show();
              $('#cycleDetails').hide();
              $('#shownOnLoad').hide();

          }
        });

      function getProjectNodeId() {
              return getSelectedNodeId('projectTree');
      }
  });

</script>

