%{def tableUUID = play.libs.Codec.UUID();}%

<table class="graphTable" style="display:none" id="table_${tableUUID}" >
    <tbody>
    <thead>
        <tr>
            <td></td>
                #{list items:dateList, as:'date'}
                    <th scope="col">${date.getClass().equals(Date.class) ? date.format(play.Play.configuration.getProperty('date.format')) : date}</th>
                #{/list}
        </tr>
    </thead>
    <tr>
        <th scope="row">${graphLabel}</th>

        #{list items:countList, as:'count'}

            <td>${count}</td>

        #{/list}
    </tr>
    </tbody>
</table>
        
<script type="text/javascript">
    var width = $('#table_${tableUUID}').parent().width()-100;
    $('#table_${tableUUID}').visualize({type: '${graphAppearance}',title: '${graphTitle}', width: width});
     $(window).resize(function() {
       adoptGraphSize();
    });
</script>
