%{def tableUUID = play.libs.Codec.UUID();}%

<table class="display" id="table_${tableUUID}">
  <thead>
  <tr>
    #{list items:columnNames, as:'columnName'}
    <th scope="col">${columnName}</th>
    #{/list}
  </tr>
  </thead>
  <tbody>
    #{list items:rowList, as:'row'}
    <tr>
    #{list items:row, as:'value'}
      <td>${value}</td>
    #{/list}
    </tr>
    #{/list}
  </tbody>
</table>
    #{if entity!=''}
        <a href="${entity}/export" class="export">Export</a>
    #{/if}
<script type="text/javascript">
  $(document).ready(function() {
    $('#table_${tableUUID}').dataTable({
      "bServerSide": false,
      "bLengthChange": false,
      "bSort": false,
      "bFilter": false,
      "iDisplayLength": 10,
      "bInfo": false,
      "aSort": false,
      "oLanguage": {
        "sZeroRecords": "No records available"
      }});

    $('#table_${tableUUID}').attr("height", "10px");
  });


</script>