#{extends 'admin/main.html' /}
#{set title:'Project administration' /}

#{set 'moreScripts'}
<script type="text/javascript">

  $(document).ready(function() {
    $("#innerTabs").tabs({
      select: function() {
        removeDialogs();
      }
    });
  });

</script>
#{/set}

<div class="container">
  <div class="left_tree">
    #{include 'admin/Projects/projectTree.html'/}
  </div>
  <div class="right_tree">
    <div id="innerTabs">
      <ul>
        <li><a href="@{admin.Projects.projectDetails()}" id="projectDetailsLink"><span>Project details</span></a></li>
        <li><a href="@{admin.Projects.roles()}" id="rolesLink"><span>Roles</span></a></li>
        <li><a href="@{admin.Projects.users()}" id="usersLink"><span>Users</span></a></li>
      </ul>
    </div>
  </div>
</div>