<button id="create_category">Project Category</button>
<button id="create_project">Project</button>
<button id="remove">Remove</button>

<div id="projectTree" class="tree"></div>


<script type="text/javascript">
  $(document).ready(function () {
    var tree = $("#projectTree").tree({types: projectTreeTypes});

    /** Selection listener **/
    $("#projectTree").bind("select_node.jstree", function (e, data) {
      var tabLinks = ['@{admin.Projects.projectDetails()}', '@{admin.Approach.cycles()}', '@{admin.Projects.roles()}', '@{admin.Projects.users()}'];
      treeNodeSelectionHandler(tabLinks, ['default'], 'project', $('#innerTabs'), data);
       $("#remove").button('enable');
    });

    /** Button initialisation **/
    $("#create_category").button({icons: {primary: 'ui-icon-plus'}}).click(function () {
      $("#projectTree").jstree("create", null, "last", {attr:{"rel":"category"}});
    });

    $("#create_project").button({icons: {primary: 'ui-icon-plus'}}).click(function () {
      $("#projectTree").jstree("create", null, "last", {attr:{"rel":"default"}});
    });

    $("#remove").button({icons: {primary: 'ui-icon-trash'}, text: false, disabled:true}).click(function () {
      $("#projectTree").jstree("remove", null);
    });

  });
</script>