#{if project == null}
No project selected
#{/if}
#{else}
        
#{ifErrors}
<div class="error">
    <h2>Oops, please correct these errors</h2>
</div>
#{/ifErrors}

#{input.form action:@admin.Projects.edit(), id:'projectForm'}
  <script type="text/javascript">
    function projectFormSubmissionCallback() {
      var treeContainer = $("#projectTree");
      jQuery.jstree._reference(treeContainer).refresh();
      jQuery.jstree._reference(treeContainer).deselect_all();
    }

  </script>
  #{input.field field:'project.name', label:'Name', baseObject:project /}
  #{input.field field:'project.description', label:'Description', baseObject:project /}
  <input type="hidden" name="project.id" value="${project.id}"/>
  <input type="hidden" name="project.account.id" value="${project.account.id}"/>
  #{if project.projectCategory != null}
    <input type="hidden" name="project.projectCategory.id" value="${project.projectCategory.id}"/>
    <input type="hidden" name="project.projectCategory.account.id" value="${project.projectCategory.account.id}"/>
  #{/if}
  #{input.submit /}

#{/input.form}

#{/else}