#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/jstree/style.css'}">
#{/set}

<script src="@{'/public/javascripts/jstree/jquery.jstree.js'}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  $(function () {
    $("#create_category").click(function () {
      $("#projectTree").jstree("create", null, "last", {attr:{"rel":"category"}});
    })
    $("#create_project").click(function () {
      $("#projectTree").jstree("create", null, "last", {attr:{"rel":"default"}});
    })
  });

  <!-- JavaScript necessary for the tree -->
  $(function () {
    $("#projectTree")
            .jstree({
                        // the list of plugins to include
                        "plugins" : [ "json_data", "ui", "crrm",  "types", "contextmenu", "hotkeys", "themes" ],

                        // Plugin configuration

                        "json_data" : {
                          "ajax" : {
                            "url" : "@{admin.ProjectTree.getChildren()}",
                            // this function is executed in the instance's scope (this refers to the tree instance)
                            // the parameter is the node being loaded (may be -1, 0, or undefined when loading the root nodes)
                            "data" : function (n) {
                              // the result is fed to the AJAX request `data` option
                              return {
                                "id" : n.attr ? n.attr("id").replace("node_", "") : -1,
                                "treeId" : "projectTree"
                              };
                            }
                          }
                        },
                        "types" : {
                          // I set both options to -2, as I do not need depth and children count checking
                          // Those two checks may slow jstree a lot, so use only when needed
                          "max_depth" : -2,
                          "max_children" : -2,
                          // I want only `drive` nodes to be root nodes
                          // This will prevent moving or creating any other type as a root node
//                          "valid_children" : [ "folder", "default", "root" ],
                          "types" : {
                            // The default type
                            "default" : {
                              // I want this type to have no children (so only leaf nodes)
                              // In my case - those are files
                              "valid_children" : "none",
                              // If we specify an icon for the default type it WILL OVERRIDE the theme icons
                              "icon" : {
                                "image" : "@{'public/images/jstree/file.png'}"
                              }
                            },
                            "category" : {
                              "valid_children" : [ "default" ],
                              "icon" : {
                                "image" : "@{'public/images/jstree/folder.png'}"
                              },
                              "start_drag" : false,
                              "move_node" : false,
                              "delete_node" : true,
                              "remove" : true

                            }
                          }
                        },
                        "hotkeys": {
                          "Ctrl+x" : function() {
                            this.cut(null)
                          },
                          "Ctrl+v" : function() {
                            this.paste(null)
                          },
                          "Ctrl+n" : function() {
                            this.create_node(null, "after", {attr:{"rel":"category"}});
                          }
                        }
                    })
            .bind("create.jstree", function (e, data) {
      $.post(
              "@{admin.ProjectTree.create()}",
      {
        "treeId" : "projectTree",
        "parentId": data.rslt.parent.attr ? data.rslt.parent.attr("id").replace("node_", "") : -1,
        "position" : data.rslt.position,
        "name" : data.rslt.name,
        "type" : data.rslt.obj.attr("rel")
      },
              function (r) {
                if (r.status) {
                  $(data.rslt.obj).attr("id", "node_" + r.id);
                }
                else {
                  $.jstree.rollback(data.rlbk);
                }
              }
              );
    })
            .bind("remove.jstree", function (e, data) {
      data.rslt.obj.each(function () {
        $.ajax({
          async : false,
          type: 'DELETE',
          url: "@{admin.ProjectTree.remove()}",
          data : {
            "treeId" : "projectTree",
            "id" : this.id.replace("node_", "")
          },
          success : function (r) {
            if (!r.status) {
              data.inst.refresh();
            }
          }
        });
      });
    })
            .bind("rename.jstree", function (e, data) {
      $.post(
              "@{admin.ProjectTree.rename()}",
      {
        "treeId" : "projectTree",
        "id" : data.rslt.obj.attr("id").replace("node_", ""),
        "name" : data.rslt.new_name,
        "type" : data.rslt.obj.attr("rel")
      },
              function (r) {
                if (!r.status) {
                  $.jstree.rollback(data.rlbk);
                }
              }
              );
    })
            .bind("move_node.jstree", function (e, data) {
      data.rslt.o.each(function (i) {
        $.ajax({
          async : false,
          type: 'POST',
          url: "@{admin.ProjectTree.move()}",
          data : {
            "treeId" : "projectTree",
            "id" : $(this).attr("id").replace("node_", ""),
            "target" : data.rslt.np.attr("id").replace("node_", ""),
            "position" : data.rslt.cp + i,
            "name" : data.rslt.name,
            "copy" : data.rslt.cy ? true : false
          },
          success : function (r) {
            if (!r.status) {
              $.jstree.rollback(data.rlbk);
            }
            else {
              $(data.rslt.oc).attr("id", "node_" + r.id);
              if (data.rslt.cy && $(data.rslt.oc).children("UL").length) {
                data.inst.refresh(data.inst._get_parent(data.rslt.oc));
              }
            }
          }
        });
      });
    });

    $("#projectTree").bind("select_node.jstree", function (e, data) {
      if (data.inst._get_type(data.rslt.obj) == "default") {
        var project = data.rslt.obj.attr("id");

        $('#innerTabs').tabs('url', 0, '@{admin.Projects.projectDetails()}?projectId=' + project);
        $('#innerTabs').tabs('url', 1, '@{admin.Projects.roles()}?projectId=' + project);
        $('#innerTabs').tabs('url', 2, '@{admin.Projects.users()}?projectId=' + project);

        // reloads the selected tab
        var $tabs = $('#innerTabs').tabs();
        var selected = $tabs.tabs('option', 'selected');
        $tabs.tabs('load', selected);


      }
    });

  });
</script>


<input type="button" id="create_category" value="New project category"/>
<input type="button" id="create_project" value="New project"/>

<div id="projectTree" class="tree"></div>