
#{ifErrors}
<div class="error">
    <h2>Oops, please correct these errors</h2>
</div>
#{/ifErrors}

#{ox.form action:@admin.Projects.edit(), edit:util.Require.roles([[models.general.UnitRole.PROJECTEDIT]]), id:'projectForm', baseClass:'models.tm.Project'}
  #{ox.field field:'project.name', label:'Name' /}
  #{ox.field field:'project.description', label:'Description' /}
  #{ox.field field:'project.id', hidden:true /}
  #{ox.field field:'project.account.id', hidden:true /}
  #{ox.field field:'project.projectCategory.id', hidden:true /}
  #{ox.field field:'project.projectCategory.account.id', hidden:true /}
  #{ox.submit /}
#{/ox.form}

