#{if project == null}
No project selected
#{/if}
#{else}
        
#{ifErrors}
<div class="error">
    <h2>Oops, please correct these errors</h2>
</div>
#{/ifErrors}

<fieldset>
    <legend>Project details</legend>

  #{input.form action:@admin.Projects.edit(), id:'projectForm'}

    #{input.field field:'project.name', label:'Name', baseObject:project /}
    #{input.field field:'project.description', label:'Description', baseObject:project /}
    <input type="hidden" name="project.id" value="${project.id}"/>
    <input type="hidden" name="project.account.id" value="${project.account.id}"/>
    <input type="hidden" name="project.projectCategory.id" value="${project.projectCategory.id}"/>
    <input type="hidden" name="project.projectCategory.account.id" value="${project.projectCategory.account.id}"/>
    <input type="submit" value="Save">

  #{/input.form}

</fieldset>
#{/else}