#{if project == null}
No project selected
#{/if}
#{else}

#{ifErrors}
<div class="error">
  <h2>Oops, please correct these errors</h2>
</div>
#{/ifErrors}

<script type="text/javascript">

  $(document).ready(function() {
    #{tabularasa.init tableId:'tab'}
    var tabParameters = {
      "aoColumns": [
        {"sName": "id", "sClass": "sNone" },
        {"sName": "name"}
      ],
      "sAjaxSource": '@{admin.ProjectRoles.data().add("projectId", project.id)}',
      "bProcessing": true,
      "bServerSide": true,
      "bLengthChange": false,
      "iDisplayLength": 10,
      "bInfo": false,
      "bFilter":false,
      "oLanguage": {
        "sZeroRecords": "No roles defined yet"
      }
    };
    #{/tabularasa.init}

    /* Click listener to reload the role definition */
    $("#tab tbody").click(function(event) {
      $(tabDataTable.fnSettings().aoData).each(function () {
        $(this.nTr).removeClass('row_selected');
      });
      $(event.target.parentNode).addClass('row_selected');

      var selectedRole = getSelectedRowId(tabDataTable);
      // FIXME this does get executed anyway
      if (typeof selectedRole !== 'undefined') {
        // reloads the role definition
        $.get('@{admin.ProjectRoles.roleDefinition()}', { roleId: selectedRole }, function(data) {
          $('#roleDefinition').html(data);
        });
      }
    });

    $("#newRoleDialog").dialog({
      autoOpen: false,
      height: 150,
      width: 350,
      draggable: false,
      resizable: false,
      modal: true,
      buttons: {
        "Create role": function() {
          var valid = $('#roleCreateForm').validate().form();
          if (valid) {
            $('#roleCreateForm').submit();
            $('#newRoleDialog').dialog("close");
          }
        },
        Cancel: function() {
          $('#roleCreateForm').validate().resetForm();
          $(this).dialog("close");
        }
      }
    });

    $("#createRole")
            .button()
            .click(function() {
      $("#newRoleDialog").dialog("open");
    });


  });

</script>


<div class="container">
  <div class="left_table">
    <table id="tab" class="display">
      <thead>
      <tr>
        <th>Role</th>
      </tr>
      </thead>
      <tbody></tbody>
    </table>

    <button id="createRole">Create new role</button>

  </div>

  <div class="right_table">

    <div id="roleDefinition">

    </div>

  </div>
</div>

<div id="newRoleDialog" class="modalDialog" title="Create a role">
  #{input.form action:@admin.ProjectRoles.create(), id:'roleCreateForm', baseClass:'models.project.Role'}
  <script type="text/javascript">
    function roleCreateFormSubmissionCallback() {
      $('#newRoleDialog').dialog("close");
      $("#tab").dataTable().fnDraw();
    }
  </script>

  #{input.field field:'role.name', label:'Name' /}
  <input type="hidden" name="projectId" id="projectId" value="${project.id}"/>

  #{/input.form}
</div>


#{/else}