#{if project == null}
No project selected
#{/if}
#{else}

#{ifErrors}
<div class="error">
  <h2>Oops, please correct these errors</h2>
</div>
#{/ifErrors}

<script src="@{'/public/javascripts/jquery.dataTables.min.js'}" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">

  $(document).ready(function() {
    #{tabularasa.init tableId:'tab'}
    var tabParameters = {
      "aoColumns": [
        {"sName": "id", "sClass": "sNone" },
        {"sName": "name"}
      ],
      "sAjaxSource": '@{admin.ProjectRoles.data().add("projectId", project.id)}',
      "bProcessing": true,
      "bServerSide": true,
      "bLengthChange": false,
      "iDisplayLength": 10,
      "bInfo": false,
      "bFilter":false
    };
    #{/tabularasa.init}

    /* Add a click handler to the rows - this could be used as a callback */
    $("#tab tbody").click(function(event) {
      $(tabDataTable.fnSettings().aoData).each(function () {
        $(this.nTr).removeClass('row_selected');
      });
      $(event.target.parentNode).addClass('row_selected');

      var selectedRole = getSelectedRowId(tabDataTable);
      // FIXME this does get executed anyway
      if (typeof selectedRole !== "undefined") {
        // reloads the role definition
        $.get('@{admin.ProjectRoles.roleDefinition()}', { roleId: selectedRole }, function(data) {
          $('#roleDefinition').html(data);
        });
      }
    });

    /* Get the rows which are currently selected */
    function fnGetSelected(oTableLocal) {
      var aReturn = new Array();
      var aTrs = oTableLocal.fnGetNodes();

      for (var i = 0; i < aTrs.length; i++) {
        if ($(aTrs[i]).hasClass('row_selected')) {
          aReturn.push(aTrs[i]);
        }
      }
      return aReturn;
    }

  });

</script>


<div class="container">
  <div class="left_table">
    <table id="tab" class="display">
      <thead>
      <tr>
        <th>Role</th>
      </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

  <div class="right_table">

    <div id="roleDefinition">

    </div>

  </div>
</div>

<h2>New role</h2>

#{input.form action:@admin.ProjectRoles.create(), id:'roleCreateForm'}

Name <input type="text" name="role.name" id="roleName"/>
<input type="hidden" name="projectId" id="projectId" value="${project.id}"/>
<input type="submit" value="Create"/>

#{/input.form}

#{/else}