#{if projectId == null}
No project selected
#{/if}
#{else}

#{tagsManagement.dialogsAndInputs type:'requirement'/}
#{tagsManagement.dialogsAndInputs type:'testInstance'/}
#{tagsManagement.dialogsAndInputs type:'testScript'/}
#{tagsManagement.dialogsAndInputs type:'defect'/}


<div class="accordion ui-accordion ui-widget ui-helper-reset ui-accordion-icons" role="tablist">

        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-state-active ui-corner-top ui-state-focus" role="tab" aria-expanded="true" aria-selected="true" tabindex="0"><span class="ui-icon ui-icon-triangle-1-s"></span><a href="#">Requirement</a></h3>
        <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active"  role="tabpanel">

            #{tagsManagement.table type:'requirement'/}

        </div>
        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="false" aria-selected="false" tabindex="-1"><span class="ui-icon ui-icon-triangle-1-e"></span><a href="#">Test script</a></h3>
        <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style=" display: none; " role="tabpanel">

            #{tagsManagement.table type:'testScript'/}

        </div>
        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="false" aria-selected="false" tabindex="-1"><span class="ui-icon ui-icon-triangle-1-e"></span><a href="#">Test instance</a></h3>
        <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="display: none; " role="tabpanel">

            #{tagsManagement.table type:'testInstance'/}

        </div>
        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="false" aria-selected="false" tabindex="-1"><span class="ui-icon ui-icon-triangle-1-e"></span><a href="#">Defect</a></h3>
        <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="display: none; " role="tabpanel">

            #{tagsManagement.table type:'defect'/}

        </div>

</div>
        #{tagsManagement.scripts type:'requirement', projectId:projectId /}
        #{tagsManagement.scripts type:'testScript', projectId:projectId /}
        #{tagsManagement.scripts type:'testInstance', projectId:projectId /}
        #{tagsManagement.scripts type:'defect', projectId:projectId /}

        <script type="text/javascript">

            $(".accordion").accordion({
                header: "h3",
                autoHeight: false,
                change: function(){
                    $('.display').attr("style", "width:100%"); // hack because of css/js conflicts between accordion and data tables
                }
            });

            <!-- function for disabling all rename and delete buttons -->

            function disableRenameAndDeleteButtons(){
                $("#requirementDeleteTag").button("disable");
                $("#requirementRenameTag").button("disable");
                $("#testScriptDeleteTag").button("disable");
                $("#testScriptRenameTag").button("disable");
                $("#testInstanceDeleteTag").button("disable");
                $("#testInstanceRenameTag").button("disable");
                $("#defectDeleteTag").button("disable");
                $("#defectRenameTag").button("disable");
            }

            $(document).ready(function() {

                #{tabularasa.init tableId:'requirement'}
                var requirementParameters = {
                  "aoColumns": [
                    {"sName": "id", "sClass": "sNone" },
                    {"sName": "name"}
                  ],
                  "sAjaxSource": '@{admin.Projects.tagsData().add("projectId", projectId).add("tagType", "requirement")}',
                  "bProcessing": false,
                  "bServerSide": true,
                  "bLengthChange": false,
                  "bSort": false,
                  "iDisplayLength": false,
                  "bInfo": false,
                  "bFilter":true,
                  "oLanguage": {
                    "sZeroRecords": "No tags created yet"
                  }
                };
                #{/tabularasa.init}

                #{tabularasa.init tableId:'testScript'}
                var testScriptParameters = {
                  "aoColumns": [
                    {"sName": "id", "sClass": "sNone" },
                    {"sName": "name"}
                  ],
                  "sAjaxSource": '@{admin.Projects.tagsData().add("projectId", projectId).add("tagType", "testScript")}',
                  "bProcessing": false,
                  "bServerSide": true,
                  "bLengthChange": false,
                  "bSort": false,
                  "iDisplayLength": false,
                  "bInfo": false,
                  "bFilter":true,
                  "oLanguage": {
                    "sZeroRecords": "No tags created yet"
                  }
                };
                #{/tabularasa.init}

                #{tabularasa.init tableId:'testInstance'}
                var testInstanceParameters = {
                  "aoColumns": [
                    {"sName": "id", "sClass": "sNone" },
                    {"sName": "name"}
                  ],
                  "sAjaxSource": '@{admin.Projects.tagsData().add("projectId", projectId).add("tagType", "testInstance")}',
                  "bProcessing": false,
                  "bServerSide": true,
                  "bLengthChange": false,
                  "bSort": false,
                  "iDisplayLength": false,
                  "bInfo": false,
                  "bFilter":true,
                  "oLanguage": {
                    "sZeroRecords": "No tags created yet"
                  }
                };
                #{/tabularasa.init}


                #{tabularasa.init tableId:'defect'}
                var defectParameters = {
                  "aoColumns": [
                    {"sName": "id", "sClass": "sNone" },
                    {"sName": "name"}
                  ],
                  "sAjaxSource": '@{admin.Projects.tagsData().add("projectId", projectId).add("tagType", "defect")}',
                  "bProcessing": false,
                  "bServerSide": true,
                  "bLengthChange": false,
                  "bSort": false,
                  "iDisplayLength": false,
                  "bInfo": false,
                  "bFilter":true,
                  "oLanguage": {
                    "sZeroRecords": "No tags created yet"
                  }
                };
                #{/tabularasa.init}
            });


        </script>

#{/else}
