#{if projectId == null}
No project selected
#{/if}


<!--#{else}-->

<div id="requirementRenameDialog" title="Rename the tag">
    <input id="requirementRenameInput"/>
</div>

<div id="testScriptRenameDialog" title="Rename the tag">
    <input id="testScriptRenameInput"/>
</div>

<div id="testInstanceRenameDialog" title="Rename the tag">
    <input id="testInstanceRenameInput"/>
</div>

<div id="defectRenameDialog" title="Rename the tag">
    <input id="defectRenameInput"/>
</div>

<div id="mergeTagDialogRequirement" title="Merge tags">
    Tag with this name already exists, do you want to merge those?
</div>

<div id="mergeTagDialogTestInstance" title="Merge tags">
    Tag with this name already exists, do you want to merge those?
</div>

<div id="mergeTagDialogTestScript" title="Merge tags">
    Tag with this name already exists, do you want to merge those?
</div>

<div id="mergeTagDialogDefect" title="Merge tags">
    Tag with this name already exists, do you want to merge those?
</div>

<div class="accordion ui-accordion ui-widget ui-helper-reset ui-accordion-icons" role="tablist">

        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-state-active ui-corner-top ui-state-focus" role="tab" aria-expanded="true" aria-selected="true" tabindex="0"><span class="ui-icon ui-icon-triangle-1-s"></span><a href="#">Requirement</a></h3>
        <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active"  role="tabpanel">

            <button id="requirementRenameTag">Rename</button>
            <table id="requirement" class="display">
              <thead>
              <tr>
                <th>Tag</th>
              </tr>
              </thead>
              <tbody></tbody>
            </table>
        </div>
        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="false" aria-selected="false" tabindex="-1"><span class="ui-icon ui-icon-triangle-1-e"></span><a href="#">Test script</a></h3>
        <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style=" display: none; " role="tabpanel">

            <button id="testScriptRenameTag">Rename</button>
            <table id="testScript" class="display">
              <thead>
              <tr>
                <th>Tag</th>
              </tr>
              </thead>
              <tbody></tbody>
            </table>
        </div>
        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="false" aria-selected="false" tabindex="-1"><span class="ui-icon ui-icon-triangle-1-e"></span><a href="#">Test instance</a></h3>
        <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="display: none; " role="tabpanel">

            <button id="testInstanceRenameTag">Rename</button>
            <table id="testInstance" class="display">
              <thead>
              <tr>
                <th>Tag</th>
              </tr>
              </thead>
              <tbody></tbody>
            </table>
        </div>
        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="false" aria-selected="false" tabindex="-1"><span class="ui-icon ui-icon-triangle-1-e"></span><a href="#">Defect</a></h3>
        <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="display: none; " role="tabpanel">

            <button id="defectRenameTag">Rename</button>
            <table id="defect" class="display">
              <thead>
              <tr>
                <th>Tag</th>
              </tr>
              </thead>
              <tbody></tbody>
            </table>
        </div>

</div>

        <script type="text/javascript">

            // hack for fetching second tag ID
            var secondTagIdRequirement = null;
            var secondTagIdTestScript = null;
            var secondTagIdTestInstance = null;
            var secondTagIdDefect = null;

            $(".accordion").accordion({
                header: "h3",
                autoHeight: false,
                change: function(){
                    $('.display').attr("style", "width:100%"); // hack because of css/js conflicts between accordion and data tables
                }
            });

            // button for requirement tag renaming
            $('#requirementRenameTag').button({icons: {primary: 'ui-icon-carat-1-e'}, disabled:true});
            $("#requirementRenameTag").click(function(){
                $('#requirementRenameDialog').dialog("open");
                var dataTableRequirement = $('#requirement').dataTable();
                $('#requirementRenameInput').val(getSelectedRowColumn(dataTableRequirement,1));
            });

            //dialog for requirement tag renaming
            $('#requirementRenameDialog').dialog({

            autoOpen: false,
            height: 200,
            width: 300,
            modal: true,
            buttons: {
                "Confirm": function(){
                    $.post('@{admin.Projects.renameTag()}', {tagId: getSelectedRowId('#requirement'), tagNewName: $('#requirementRenameInput').val(), projectId:'${projectId}'})
                            .success(
                                function(data) {
                                    if(data!=null && data!=''){
                                        secondTagIdRequirement = data;
                                        $('#mergeTagDialogRequirement').dialog("open");
                                    }
                                    refreshTableContents('#requirement', false);
                                    $(this).dialog("close");
                                })
                            .error(errorHandler);
                    
                    $(this).dialog("close");
                },
                "Cancel": function(){
                    $(this).dialog("close");
                }
            }
            });

            // row selection handler for requirement tag table
            handleRowSelection("#requirement", function(data){
                if(getSelectedRowId("#requirement")!=null && getSelectedRowId("#requirement")!='')
                    $("#requirementRenameTag").button("enable");
            });

            // button for test script tag renaming
            $('#testScriptRenameTag').button({icons: {primary: 'ui-icon-carat-1-e'}, disabled:true});
            $("#testScriptRenameTag").click(function(){
                $('#testScriptRenameDialog').dialog("open");
                var dataTableTestScript = $('#testScript').dataTable();
                $('#testScriptRenameInput').val(getSelectedRowColumn(dataTableTestScript,1));
            });

            //dialog for test script tag renaming
            $('#testScriptRenameDialog').dialog({

            autoOpen: false,
            height: 200,
            width: 300,
            modal: true,
            buttons: {
                "Confirm": function(){
                    $.post('@{admin.Projects.renameTag()}', {tagId: getSelectedRowId('#testScript'), tagNewName: $('#testScriptRenameInput').val(), projectId:'${projectId}'})
                            .success(
                                function(data) {
                                    if(data!=null && data!=''){
                                        secondTagIdTestScript = data;
                                        $('#mergeTagDialogTestScript').dialog("open");
                                    }
                                    refreshTableContents('#testScript', false);
                                    $(this).dialog("close");
                                })
                            .error(errorHandler);

                    $(this).dialog("close");
                },
                "Cancel": function(){
                    $(this).dialog("close");
                }
            }
            });

            handleRowSelection("#testScript", function(){
                if(getSelectedRowId("#testScript")!=null && getSelectedRowId("#testScript")!='')
                    $("#testScriptRenameTag").button("enable");
            });

            // button for test instance tag renaming
            $('#testInstanceRenameTag').button({icons: {primary: 'ui-icon-carat-1-e'}, disabled:true});
            $("#testInstanceRenameTag").click(function(){
                $('#testInstanceRenameDialog').dialog("open");
                var dataTableTestInstance = $('#testInstance').dataTable();
                $('#testInstanceRenameInput').val(getSelectedRowColumn(dataTableTestInstance,1));
            });

            //dialog for test instance tag renaming
            $('#testInstanceRenameDialog').dialog({

            autoOpen: false,
            height: 200,
            width: 300,
            modal: true,
            buttons: {
                "Confirm": function(){
                    $.post('@{admin.Projects.renameTag()}', {tagId: getSelectedRowId('#testInstance'), tagNewName: $('#testInstanceRenameInput').val(), projectId:'${projectId}'})
                            .success(
                                function(data) {
                                    if(data!=null && data!=''){
                                        secondTagIdTestInstance = data;
                                        $('#mergeTagDialogTestInstance').dialog("open");
                                    }
                                    refreshTableContents('#testInstance', false);
                                    $(this).dialog("close");
                                })
                            .error(errorHandler);

                    $(this).dialog("close");
                },
                "Cancel": function(){
                    $(this).dialog("close");
                }
            }
            });

            handleRowSelection("#testInstance", function(){
                if(getSelectedRowId("#testInstance")!=null && getSelectedRowId("#testInstance")!='')
                     $("#testInstanceRenameTag").button("enable");
            });

            // button for defect tag renaming
            $('#defectRenameTag').button({icons: {primary: 'ui-icon-carat-1-e'}, disabled:true});
            $("#defectRenameTag").click(function(){
                $('#defectRenameDialog').dialog("open");
                var dataTableDefect = $('#defect').dataTable();
                $('#defectRenameInput').val(getSelectedRowColumn(dataTableDefect,1));
            });

            //dialog for defect tag renaming
            $('#defectRenameDialog').dialog({

            autoOpen: false,
            height: 200,
            width: 300,
            modal: true,
            buttons: {
                "Confirm": function(){
                    $.post('@{admin.Projects.renameTag()}', {tagId: getSelectedRowId('#defect'), tagNewName: $('#defectRenameInput').val(), projectId:'${projectId}'})
                            .success(
                                function(data) {
                                    if(data!=null && data!=''){
                                        secondTagIdDefect = data;
                                        $('#mergeTagDialogDefect').dialog("open");
                                    }
                                    refreshTableContents('#defect', false);
                                    $(this).dialog("close");
                                })
                            .error(errorHandler);

                    $(this).dialog("close");
                },
                "Cancel": function(){
                    $(this).dialog("close");
                }
            }
            });

            handleRowSelection("#defect", function(){
                if(getSelectedRowId("#defect")!=null && getSelectedRowId("#defect")!='')
                    $("#defectRenameTag").button("enable");
            });

            $('#mergeTagDialogRequirement').dialog({

            autoOpen: false,
            height: 200,
            width: 300,
            modal: true,
            buttons: {
                "Confirm": function(){
                    $.post('@{admin.Projects.mergeTags()}', {firstTagId: getSelectedRowId('#requirement'), secondTagId: secondTagIdRequirement, projectId:'${projectId}'})
                            .success(
                                function(data) {
                                    refreshTableContents('#requirement', false);
                                    $(this).dialog("close");
                                })
                            .error(errorHandler);

                    $(this).dialog("close");
                },
                "Cancel": function(){
                    $(this).dialog("close");
                }
            }
            });

            $('#mergeTagDialogTestScript').dialog({

            autoOpen: false,
            height: 200,
            width: 300,
            modal: true,
            buttons: {
                "Confirm": function(){
                    $.post('@{admin.Projects.mergeTags()}', {firstTagId: getSelectedRowId('#testScript'), secondTagId: secondTagIdTestScript, projectId:'${projectId}'})
                            .success(
                                function(data) {
                                    refreshTableContents('#testScript', false);
                                    $(this).dialog("close");
                                })
                            .error(errorHandler);

                    $(this).dialog("close");
                },
                "Cancel": function(){
                    $(this).dialog("close");
                }
            }
            });

            $('#mergeTagDialogTestInstance').dialog({

            autoOpen: false,
            height: 200,
            width: 300,
            modal: true,
            buttons: {
                "Confirm": function(){
                    $.post('@{admin.Projects.mergeTags()}', {firstTagId: getSelectedRowId('#testInstance'), secondTagId: secondTagIdTestInstance , projectId:'${projectId}'})
                            .success(
                                function(data) {
                                    refreshTableContents('#testInstance', false);
                                    $(this).dialog("close");
                                })
                            .error(errorHandler);

                    $(this).dialog("close");
                },
                "Cancel": function(){
                    $(this).dialog("close");
                }
            }
            });

            $('#mergeTagDialogDefect').dialog({

            autoOpen: false,
            height: 200,
            width: 300,
            modal: true,
            buttons: {
                "Confirm": function(){
                    $.post('@{admin.Projects.mergeTags()}', {firstTagId: getSelectedRowId('#defect'), secondTagId: secondTagIdDefect, projectId:'${projectId}'})
                            .success(
                                function(data) {
                                    refreshTableContents('#defect', false);
                                    $(this).dialog("close");
                                })
                            .error(errorHandler);

                    $(this).dialog("close");
                },
                "Cancel": function(){
                    $(this).dialog("close");
                }
            }
            });

            $(document).ready(function() {

                

                #{tabularasa.init tableId:'requirement'}
                var requirementParameters = {
                  "aoColumns": [
                    {"sName": "id", "sClass": "sNone" },
                    {"sName": "name"}
                  ],
		          "oSearch": true,
                  "sAjaxSource": '@{admin.Projects.tagsData().add("projectId", projectId).add("tagType", 0)}',
                  "bProcessing": true,
                  "bServerSide": true,
                  "bLengthChange": false,
                  "bSort": false,
                  "iDisplayLength": false,
                  "bInfo": false,
                  "bFilter":false,
                  "oLanguage": {
                    "sZeroRecords": "No tags created yet"
                  }
                };
                #{/tabularasa.init}

                #{tabularasa.init tableId:'testScript'}
                var testScriptParameters = {
                  "aoColumns": [
                    {"sName": "id", "sClass": "sNone" },
                    {"sName": "name"}
                  ],
                  "sAjaxSource": '@{admin.Projects.tagsData().add("projectId", projectId).add("tagType", 1)}',
                  "bProcessing": true,
                  "bServerSide": true,
                  "bLengthChange": false,
                  "bSort": false,
                  "iDisplayLength": false,
                  "bInfo": false,
                  "bFilter":true,
                  "oLanguage": {
                    "sZeroRecords": "No tags created yet"
                  }
                };
                #{/tabularasa.init}

                #{tabularasa.init tableId:'testInstance'}
                var testInstanceParameters = {
                  "aoColumns": [
                    {"sName": "id", "sClass": "sNone" },
                    {"sName": "name"}
                  ],
                  "sAjaxSource": '@{admin.Projects.tagsData().add("projectId", projectId).add("tagType", 2)}',
                  "bProcessing": true,
                  "bServerSide": true,
                  "bLengthChange": false,
                  "bSort": false,
                  "iDisplayLength": false,
                  "bInfo": false,
                  "bFilter":true,
                  "oLanguage": {
                    "sZeroRecords": "No tags created yet"
                  }
                };
                #{/tabularasa.init}


                #{tabularasa.init tableId:'defect'}
                var defectParameters = {
                  "aoColumns": [
                    {"sName": "id", "sClass": "sNone" },
                    {"sName": "name"}
                  ],
                  "sAjaxSource": '@{admin.Projects.tagsData().add("projectId", projectId).add("tagType", 3)}',
                  "bProcessing": true,
                  "bServerSide": true,
                  "bLengthChange": false,
                  "bSort": false,
                  "iDisplayLength": false,
                  "bInfo": false,
                  "bFilter":true,
                  "oLanguage": {
                    "sZeroRecords": "No tags created yet"
                  }
                };
                #{/tabularasa.init}
            });


        </script>


<!--#{/else}-->