#{if project == null}
No project selected
#{/if}
#{else}


<div id="treeDiv">
  <button id="assign-user">Assign role to user</button>
  <button id="unassign-user">Remove assignment</button>
  <div id="rolesUserTree" class="tree"></div>
</div>

<script type="text/javascript">

  $(document).ready(function () {

    $("#assign-dialog").dialog({
      autoOpen: false,
      height: 300,
      width: 350,
      modal: true,
      buttons: {
        "Assign role": function() {

          var selectedRoleId = $('#roles option:selected').val();
          var selectedUserId = $('#users option:selected').val();

          // custom validation method for our select lists
          $.validator.addMethod("selectNone", function(value, element) {
            if (element.value == -1) {
              return false;
            }
            return true;
          }, "Please select an option");

          // definition of the validation rules
          var v = $("#assignForm").validate({
            rules: {
              users: {selectNone: true},
              roles: {selectNone: true}
            },
            messages: {
              users: "Please select a user",
              roles: "Please select a role"
            }
          });

          // programmatic validation
          var valid = v.form();

          if (valid) {
            var name = $('#users option:selected').text();
            $("#rolesUserTree").jstree("create", null, "last", {attr: {"id": selectedUserId, "rel":"default"}, data: name}, null, true);
            $(this).dialog("close");
          }

        },
        Cancel: function() {
          $("#assignForm").validate().resetForm();
          $(this).dialog("close");
        }
      }
    });

    $("#assign-user")
            .button()
            .click(function() {
      $("#assign-dialog").dialog("open");
    });

    $("#unassign-user")
            .button()
            .click(function() {

      var $tree = jQuery.jstree._reference('#rolesUserTree');
      var selectedNode = $tree.get_selected();
      if ($tree._get_type(selectedNode) == "default") {
        var selectedUserId = selectedNode.attr("id");
        var selectedRoleId = $tree._get_parent(selectedNode).attr("id");
        $tree.delete_node(selectedNode);
      }

    });

    $("#rolesUserTree")
            .jstree({
                        "plugins" : [ "json_data", "ui", "crrm", "types", "hotkeys", "themes" ],

                        "json_data" : {
                          "ajax" : {
                            "url" : "@{TMTreeController.getChildren()}",
                            "data" : function (n) {
                              return {
                                "id" : n.attr ? n.attr("id").replace("node_", "") : -1,
                                "treeId" : "rolesUserTree",
                                "args" : "${project.id}"
                              };
                            }
                          }
                        },
                        "types" : {
                          "max_depth" : -2,
                          "max_children" : -2,
                          "types" : {
                            "default" : { // user
                              "valid_children" : "none",
                              "icon" : {
                                "image" : "@{'public/images/jstree/file.png'}" // TODO user icon
                              }
                            },
                            "role" : {
                              "valid_children" : [ "default" ],
                              "icon" : {
                                "image" : "@{'public/images/jstree/folder.png'}" // TODO role icon
                              },
                              "start_drag" : false,
                              "move_node" : false,
                              "delete_node" : false,
                              "remove" : false
                            }
                          }
                        },
                        "hotkeys": {
                          "Ctrl+x" : function() {
                            this.cut(null)
                          },
                          "Ctrl+v" : function() {
                            this.paste(null)
                          }
                        }
                    });
    #{tree.common id:"rolesUserTree", controller:"TMTreeController" /}

    $("#rolesUserTree").bind("select_node.jstree", function (e, data) {
      if (data.inst._get_type(data.rslt.obj) == "role") {
        var roleId = data.rslt.obj.attr("id");
        // automatically select the role in the selector of the dialog
        $('#roles').val(roleId);
      } else {
        // try the parent
        var parent = data.inst._get_parent(data.rslt.obj);
        if (typeof parent !== 'undefined') {
          var roleId = parent.attr("id");
          $('#roles').val(roleId);
        }
      }
    });

  });
</script>

<div id="assign-dialog" title="Assign a role to a user" class="modalDialog">
  <form id="assignForm">
    <fieldset>

      <label for="roles">Role</label>
      #{select 'roles', items:projectRoles, valueProperty:'id', labelProperty:'name', class:"text ui-widget-content
      ui-corner-all", id:'roles'}
      #{option -1} Please select a role #{/option}
      #{/select}

      <label for="users">User</label>
      #{select 'users', items:accountUsers, valueProperty:'id', labelProperty:'fullName', class:"text ui-widget-content
      ui-corner-all", id:'users'}
      #{option -1} Please select a user #{/option}
      #{/select}
    </fieldset>
  </form>
</div>


#{/else}