#{if project == null}
No project selected
#{/if}
#{else}

<div id="treeDiv">
  <button id="assign_user">Role</button>
  <button id="unassign_user">Remove</button>
  <div id="rolesUserTree" class="tree"></div>
</div>

<div id="assignDialog" title="Assign a role to a user" class="modalDialog">
  <form id="assignForm">
    <fieldset>

      <label for="roles">Role</label>
      #{select 'roles', items:projectRoles, valueProperty:'id', labelProperty:'name', class:"text ui-widget-content
      ui-corner-all", id:'roles'}
      #{option -1} Please select a role #{/option}
      #{/select}

      <label for="users">User</label>
      #{select 'users', items:accountUsers, valueProperty:'id', labelProperty:'fullName', class:"text ui-widget-content
      ui-corner-all", id:'users'}
      #{option -1} Please select a user #{/option}
      #{/select}
    </fieldset>
  </form>
</div>

<script type="text/javascript">

  $(document).ready(function () {

    $("#assignDialog").dialog({
      autoOpen: false,
      height: 300,
      width: 350,
      modal: true,
      buttons: {
        "Assign role": function() {
          registerSelectNoneValidator();

          var selectedRoleId = $('#roles option:selected').val();
          var selectedUserId = $('#users option:selected').val();

          var v = $("#assignForm").validate({
            rules: {
              users: {selectNone: true},
              roles: {selectNone: true}
            },
            messages: {
              users: "Please select a user",
              roles: "Please select a role"
            }
          });

          // programmatic validation
          var valid = v.form();

          if (valid) {

            // select the role node in the tree as we may have only selected it through the form
            var $tree = jQuery.jstree._reference('#rolesUserTree');
            var roleNode = getTreeNode(selectedRoleId);
            $tree.select_node(roleNode);

            // create the assignment by adding a node to the tree
            var name = $('#users option:selected').text();
            $("#rolesUserTree").jstree("create", null, "last", {attr: {"rel":"default"}, data: name, metadata: {args: {userId: selectedUserId, roleId: selectedRoleId}}}, null, true);
            $(this).dialog("close");
          }

        },
        Cancel: function() {
          $("#assignForm").validate().resetForm();
          $(this).dialog("close");
        }
      }
    });

    $("#assign_user").button({icons: {primary: 'ui-icon-plus'}}).click(function() {
      $("#assignDialog").dialog("open");
    });

    $("#unassign_user").button({icons: {primary: 'ui-icon-minus'}}).click(function() {
      var $tree = jQuery.jstree._reference('#rolesUserTree');
      var selectedNode = $tree.get_selected();
      if ($tree._get_type(selectedNode) == "default") {
        var selectedUserId = selectedNode.attr("id");
        var selectedRoleId = $tree._get_parent(selectedNode).attr("id");
        $tree.delete_node(selectedNode);
      }
    });

    $("#rolesUserTree").jstree({
      "plugins" : [ "json_data", "ui", "crrm", "types", "hotkeys", "themeroller" ],

      "json_data" : {
        "ajax" : {
          "url" : "@{TMTreeController.getChildren()}",
          "data" : function (n) {
            return {
              "id" : n.attr ? extractId(n.attr("id")) : -1,
              "treeId" : "rolesUserTree",
              "args" : {"projectId": "${project.id}"}
            };
          }
        }
      },
      "themeroller": {
        "item": ""
      },
      "types" : {
        "max_depth" : -2,
        "max_children" : -2,
        "types" : {
          "default" : { // user
            "valid_children" : "none",
            "icon" : {
              "image" : "@{'public/images/jstree/file.png'}" // TODO user icon
            }
          },
          "role" : {
            "valid_children" : [ "default" ],
            "icon" : {
              "image" : "@{'public/images/jstree/folder.png'}" // TODO role icon
            },
            "start_drag" : false,
            "move_node" : false,
            "delete_node" : false,
            "remove" : false
          }
        }
      },
      "hotkeys": {
        "Ctrl+x" : function() {
          this.cut(null)
        },
        "Ctrl+v" : function() {
          this.paste(null)
        }
      }
    });
    #{tree.common id:"rolesUserTree", controller:"TMTreeController" /}

    /** Selection handler **/
    $("#rolesUserTree").bind("select_node.jstree", function (e, data) {
      if (isSelectedNodeType(data, "role")) {
        var roleId = data.rslt.obj.attr("id");
        // automatically select the role in the selector of the dialog
        $('#roles').val(roleId);
      } else {
        // try the parent
        var parent = data.inst._get_parent(data.rslt.obj);
        if (typeof parent !== 'undefined') {
          var roleId = parent.attr("id");
          $('#roles').val(roleId);
        }
      }
    });

  });
</script>
#{/else}