#{extends 'main.html' /}
#{set title:'Defects' /}


<div id="filterContainer">
  #{box 'Filters'}
  #{include 'Defects/filter.html'/}
  #{/box}
  <br/>
  <br/>
</div>


#{deadbolt.restrict roles:[[models.general.UnitRole.DEFECTCREATE]]}
<button id="createDefectButton">Submit a defect</button>
<button id="updateDefectButton">Update defect</button>
#{/deadbolt.restrict}

#{deadbolt.restrict roles:[[models.general.UnitRole.DEFECTDELETE]]}
<button id="deleteDefectButton">Delete defect</button>
#{/deadbolt.restrict}


<div id="createDefectDialog" style="display:none" title="Create a defect">
  #{box 'Submit a defect'}
  #{ox.form id:'createDefectForm', action:@Defects.createDefect(), baseClass:'models.tm.Defect', create:true}
  #{ox.field field:'defect.name', label:'Summary' /}
  #{ox.field field:'defect.description', label:'Description'/}
  #{ox.field field:'defect.assignedTo', label:'Assign to' /}
  #{ox.field field:'defect.tags', label:'Tags', type:'tags' /}
  #{/ox.form}
  <button id="createDefectConfirm">Submit</button>
  <button id="createDefectCancel">Cancel</button>
  #{/box}
</div>

<div id="updateDefectDialog" style="display:none" title="Update a defect">
  #{box 'Update the defect'}
  #{ox.form id:'updateDefectForm', action:@Defects.updateDefect(), baseClass:'models.tm.Defect'}
  #{ox.field field:'defect.name', label:'Summary' /}
  #{ox.field field:'defect.description', label:'Description'/}
  #{ox.field field:'defect.assignedTo', label:'Assign to' /}
  #{ox.field field:'defect.status', label:'Status' /}
  #{ox.field field:'defect.tags', label:'Tags', type:'tags' /}
  #{ox.field field:'defect.id', hidden:true/}
  #{/ox.form}
  <button id="updateDefectConfirm">Submit</button>
  <button id="updateDefectCancel">Cancel</button>
  #{/box}
</div>

<div id="deleteDefectDialog" title="Confirm deletion of defect"></div>

<br/>

#{box 'Defects'}
<table class="display" id="defectsTable">

  <thead>
  <tr>
    <th>ID</th>
    <th>Summary</th>
    <th>Tags</th>
    <th>Assigned To</th>
    <th>Raised By</th>
    <th>Status</th>
    <th>Submitted at</th>
  </tr>
  </thead>
  <tbody></tbody>
</table>
#{/box}


<script type="text/javascript">

$(document).ready(function() {

  $('#createDefectConfirm').button();
  $('#createDefectCancel').button();
  $('#updateDefectConfirm').button();
  $('#updateDefectCancel').button();


  #{tabularasa.init tableId:'defectsTable'}
  var defectsTableParameters = {
    "aoColumns":[
      {"sName": "id", "sClass": "sNone"},
      {"sName": "naturalId"},
      {"sName": "name", "bSortable": false},
      // jquery data table bug, bSortable works as a switch here, turn it off before tagNames and switch it on after, thus tagName is not sortable
      {"sName": "tagNames", "bSortable": true},
      {"sName": "assignedTo"},
      {"sName": "submittedBy"},
      {"sName": "status.name"},
      {"sName": "created", "fnRender": function (oObj) {
        return $.format.date(oObj.aData[7], "${play.Play.configuration.getProperty('datetime.format')}");
      }}
    ],
    "bServerSide": true,
    "bLengthChange": false,
    "bSort": true,
    "bFilter": false,
    "bAutoWidth": false,
    "iDisplayLength": false,
    "bInfo": false,
    "sAjaxSource": "@{Defects.defects()}",
    "oLanguage": {
      "sZeroRecords": "No defects reported"
    },
    "fnDrawCallback": function() {
      var da;
      if ('${id}' > 0) {
        $(defectsTableDataTable.fnSettings().aoData).each(function () {
          var nTr = $(this.nTr)[0];
          if ($($(nTr).children('td')[0]).text() == '${id}') {
            $(this.nTr).addClass('row_selected');
            da = $(this.nTr);
          }
        });
      }
    }
  };
  #{/tabularasa.init}

//adding request parameters for a given table

  function addRequestParameters(parameters, tableId) {
    if (tableId == 'defectsTable') {
      parameters.push({"name": "title", "value": $('#title').val() });
      parameters.push({"name": "titleCase", "value": $('#titleCase option:selected').val() });
      parameters.push({"name": "tags", "value": $('#tags').val() });
      parameters.push({"name": "status", "value": $('#status option:selected').val() });
      parameters.push({"name": "assignedToId", "value": $('#assignedToId option:selected').val() });
      parameters.push({"name": "submittedById", "value": $('#submittedById option:selected').val() });
      parameters.push({"name": "dateFrom", "value": $('#dateFrom').val() });
      parameters.push({"name": "dateTo", "value": $('#dateTo').val() });
    }

  }

// creating a defect
  $('#createDefectButton').button({icons: {primary: 'ui-icon-carat-1-e'}});
  $('#createDefectButton').click(function() {
    if ($("#createDefectButton span.ui-icon").hasClass("ui-icon-carat-1-s")) {
      $("#createDefectButton span.ui-icon").addClass("ui-icon-carat-1-e").removeClass("ui-icon-carat-1-s");
    }
    else {
      $("#createDefectButton span.ui-icon").addClass("ui-icon-carat-1-s").removeClass("ui-icon-carat-1-e");
      $('#createDefectForm_defect_tags').tokenInput('clearAll');
    }

    $('#createDefectDialog').slideToggle('slow');
  });

  $('#createDefectForm').oxForm({
            submissionCallback: function() {
              refreshTableContents('#defectsTable', false);
            }

          });

  $('#createDefectConfirm').click(function() {
    $('#createDefectForm').oxForm('submitCreateForm');
    $('#createDefectDialog').slideUp('slow');
    $("#createDefectButton span.ui-icon").addClass("ui-icon-carat-1-e").removeClass("ui-icon-carat-1-s");
  });
  $('#createDefectCancel').click(function() {
    $('#createDefectForm').resetForm();
    $('#createDefectForm_defect_tags').tokenInput('clearAll');
    $('#createDefectDialog').slideUp('slow');
    $("#createDefectButton span.ui-icon").addClass("ui-icon-carat-1-e").removeClass("ui-icon-carat-1-s");
  });

//updating a defect

  handleRowSelection('#defectsTable', function() {
    $('#updateDefectButton').button('enable');
    $('#deleteDefectButton').button('enable');
    $('.defect-details').remove();
    //TODO some code improvements if this is a way we will display defects
    $.getJSON('@{Defects.defectDescription()}', {defectId: getSelectedRowId("#defectsTable")},
            function(data) {
              $('.row_selected').after("<tr class='defect-details'><td colspan='7'>" + data + "</td></tr>");
            }).error(errorHandler);

  });


  $('#updateDefectForm').oxForm({
            submissionCallback: function() {
              refreshTableContents('#defectsTable', false);
            },
            loadAction: '@{Defects.defectDetails()}'
          });

  $('#updateDefectButton').button({icons: {primary: 'ui-icon-pencil'}});
  $('#updateDefectButton').button('disable');

  $('#updateDefectButton').click(function() {


    $('#updateDefectDialog').slideToggle('slow');
    $('#updateDefectForm').oxForm('load', getSelectedRowId('#defectsTable'));
  });

  $('#updateDefectForm').oxForm({
            submissionCallback: function() {
              refreshTableContents('#defectsTable', false);
            }
          });

  $('#updateDefectConfirm').click(function() {
    $('#updateDefectDialog').slideUp('slow');
    $('#updateDefectForm').oxForm('submitCreateForm');

  });
  $('#updateDefectCancel').click(function() {
    $('#updateDefectDialog').slideUp('slow');
  });


  var tokens = $('#createDefectForm_defect_tags').tokenInput({
            url: '@{Defects.allTags()}',
            preventDuplicates: true,
            tokenValue: 'name',
            allowCreation: true,
            creationText: "Create new tag"
          });

  $('#updateDefectForm_defect_tags').tokenInput({
            url: '@{Defects.allTags()}',
            preventDuplicates: true,
            tokenValue: 'name',
            allowCreation: true,
            creationText: "Create new tag"
          });


// delete defect
  $('#deleteDefectButton').button({icons: {primary: 'ui-icon-trash'}, text:false, disabled:true});
  $('#deleteDefectButton').click(function() {
    $('#deleteDefectDialog').dialog("open");
  });

  $('#deleteDefectDialog').dialog({
            autoOpen: false,
            height: 100,
            width: 300,
            modal: true,
            buttons: {
              "Confirm": function() {
                $.post('@{Defects.deleteDefect()}', {defectId: getSelectedRowId('#defectsTable')},
                        function() {
                          refreshTableContents('#defectsTable', false);
                        }).error(errorHandler, function() {
                          refreshTableContents('#defectsTable', false);
                          $('#deleteDefectDialog').dialog('close');
                        });

                $(this).dialog("close");
              },
              "Cancel": function() {
                $(this).dialog("close");
              }

            }
          });

// filter functions

  var filterSaveAction = #{jsAction @Defects.saveFilter() /};
  var filterLoadAction = #{jsAction @Defects.loadFilters() /};
  var filterLoadByIdAction = #{jsAction @Defects.loadFilterById() /};

  $('#filterContainer').oxFilter({
            filterFormId: 'defectsFilterForm',
            filterParameters: function() {
              return {
                "constraint[title][value]" : $('#title').val(),
                "constraint[title][match]" : $('#titleCase').val(),
                "constraint[status][value]" : $('#status').val(),
                "constraint[tags][value]" : $('#tags').val(),
                "constraint[assignedTo][value]" : $('#assignedToId').val(),
                "constraint[submittedBy][value]" : $('#submittedById').val(),
                "constraint[created][dateFrom]" : $('#dateFrom').val(),
                "constraint[created][dateTo]" : $('#dateTo').val()
              };
            },
            filterSaveAction: filterSaveAction,
            filterLoadAction: filterLoadAction,
            filterLoadByIdAction: filterLoadByIdAction,
            onSelect: function() {
              refreshTableContents('#defectsTable', true);
            }
          });

});


</script>

#{if edit}
<script type="text/javascript">
  $(document).ready(function() {
    var id = '${id}';
    $('#updateDefectDialog').slideToggle('slow');
    $('#updateDefectForm').oxForm('load', id);
    $('#updateDefectButton').button('enable');
  });
</script>
#{/if}