#{extends 'main.html' /}
#{set title:'Defects' /}

#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/demo_table_jui.css'}">
#{/set}

#{set 'moreScripts'}

<script type="text/javascript">

  $(function() {
    $("#innerTabs").tabs();
  });

  $(document).ready(function() {

    #{tabularasa.init tableId:'tab'}
    var tabParameters = {
      "aoColumns": [
        {"sName": "id", "sClass": "sNone" },
        {"sName": "naturalId"},
        {"sName": "submittedBy.user.fullName"},
        {"sName": "assignedTo.user.fullName"},
        {"sName": "name"},
        {"sName": "status.name"}
      ],
      "sAjaxSource": "@{Defects.data()}",
      "bProcessing": true,
      "bServerSide": true,
      "bLengthChange": false,
      "bSort": false,
      "iDisplayLength": 10,
      "bInfo": false,
      "oLanguage": {
        "sZeroRecords": "No defects submitted yet"
      }
    };
    #{/tabularasa.init}

  });

</script>
#{/set}

<div class="container">
  <div>
    <table class="display" id="tab">
      <thead>
      <tr>
        <th>Id</th>
        <th>Submitted by</th>
        <th>Assigned to</th>
        <th>Title</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<h2>New defect</h2>

<form action=@{Defects.create()} method="POST">
  Title: <input type="text" name="defect.name" id="defect.name"/>
  <input type="submit" value="Save!"/>
</form>
