#{if script == null}
No script selected
#{/if}
#{else}

#{box 'Test Script "'+script.name+'"'}
<div id="scriptDetailsTabs">
  <ul>
    <li><a href="@{Repository.scriptDetails('scriptId': script.id)}" id="scriptDetailsLink"><span>Description</span></a></li>
    <li><a href="@{Repository.steps('scriptId': script.id)}" id="stepsLink"><span>Steps</span></a></li>
    <li><a href="@{Repository.linked('scriptId': script.id)}" id="linkedEntitiesLink"><span>Linked entities</span></a>
    </li>
  </ul>
#{/box}
</div>

<script type="text/javascript">
  $(document).ready(function() {

    $("#scriptDetailsTabs").tabs({
      select: function() {
        removeDialogs();
      }
    });

  });
</script>
#{/else}