#{extends 'main.html' /}
#{set title:'Test Scripts repository' /}

<div class="container">
  <div class="left_tree">
    <div id="actions">
      #{deadbolt.restrict roles:[[models.general.UnitRole.TESTREPOCREATE]]}
        <button id="create_folder">Folder</button>
        <button id="create_script">Test Script</button>
      #{/deadbolt.restrict}
      #{deadbolt.restrict roles:[[models.general.UnitRole.TESTREPODELETE]]}
        <button id="remove">Remove</button>
      #{/deadbolt.restrict}
    </div>
    #{box 'Test Script Repository'}
    <div id="repositoryTree" class="tree" style="border-style:none;"></div>
    #{/box}
  </div>
  <div class="right_tree">

    <div id="innerTabs">
      <ul>
        <li><a href="#scriptDetails"><span>Description</span></a></li>
        <li><a href="#scriptSteps"><span>Steps</span></a></li>
        <li><a href="#linkedRequirements"><span>Linked requirements</span></a></li>
      </ul>
      <div id="scriptDetails">

        <div class="hiddenOnLoad">
          #{ox.form action:@Repository.editScript(), id:'scriptDetailsForm', baseClass:'models.tm.test.Script'}
            #{ox.field field:'script.name', label:'Name' /}
            #{ox.field field:'script.description', label:'Description' /}
            #{ox.field field:'script.tags', label:'Tags', type:'tags' /}
            *{the following fields are necessary because play can't bind stuff automatically yet}*
            #{ox.field field:'script.id', hidden:true /}
            #{ox.field field:'script.account.id', hidden:true /}
            #{ox.field field:'script.project.id', hidden:true /}
            #{ox.field field:'script.project.account.id', hidden:true /}
            #{ox.field field:'script.project.projectCategory.id', hidden:true /}
            #{ox.field field:'script.project.projectCategory.account.id', hidden:true /}

            #{ox.submit /}
          #{/ox.form}
        </div>
        <div class="shownOnLoad">
          No script selected.
        </div>
      </div>
      <div id="scriptSteps">
        #{include 'Repository/steps.html' /}
      </div>
      <div id="linkedRequirements">
        <table class="display" id="requirementTable">
          <thead>
          <tr>
            <th>Requirement ID</th>
            <th>Requirement title</th>
            <th>Tags</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>

    </div>


  </div>
</div>


#{set 'moreScripts'}
<script type="text/javascript">

  $(document).ready(function () {

    $('#repositoryTree').tree({types: repositoryTreeTypes});

    $("#repositoryTree").bind("select_node.jstree", function (e, data) {
      if (isSelectedNodeType(data, ["script", "default"])) {
        $('.shownOnLoad').hide();
        $('.hiddenOnLoad').show();

        var scriptId = getSelectedNodeId('repositoryTree');

        $('#scriptDetailsForm').oxForm('load', scriptId);

        reloadTables();
      }
    });

    // tags
    var tokens = $('#scriptDetailsForm_script_tags').tokenInput({
      url: '@{Repository.allTags()}',
      preventDuplicates: true,
      tokenValue: 'name',
      allowCreation: true,
      creationText: "Create new tag"
    });

    $('#scriptDetailsForm li.token-input-input-token').change(function() {
      $('#scriptDetailsForm_submit').button('enable');
    });

    $(function () {
      $("#create_folder").button({icons: {primary: 'ui-icon-plus'}}).click(function () {
        $("#repositoryTree").jstree("create", null, "last", {attr:{"rel":"scriptFolder"}});
      });
      $("#create_script").button({icons: {primary: 'ui-icon-plus'}}).click(function () {
        $("#repositoryTree").jstree("create", null, "last", {attr:{"rel":"default"}});
      });
      $("#remove").button({icons: {primary: 'ui-icon-minus'}}).click(function () {
        $("#repositoryTree").jstree("remove", null);
      });
    });

    $("#innerTabs").tabs({
      select: function() {
        removeDialogs();
      }
    });

    $('#scriptDetailsForm').oxForm({
      loadAction: '@{Repository.scriptDetailsData()}',
      // this is a workaround to provide the tag value at submission time, as long as the tags aren't integrated into ox.forms.
      submissionParameters: function() {
        return {tags: $('#scriptDetailsForm_script_tags').val() };
      },
      submissionCallback: function() {
        refreshTree('repositoryTree');
      }
    });

    #{tabularasa.init tableId:'requirementTable'}
    var requirementTableParameters = {
      "aoColumns": [
        {"sName": "id", "sClass": "sNone", "sWidth": "0%" },
        {"sName": "naturalId"},
        {"sName": "name"},
        {"sName": "tagNames"},
        {"sName": "status"}
      ],
      "aoSorting": [
        [1, "desc"]
      ],
      "sAjaxSource": "@{Repository.linkedRequirements()}",
      "bProcessing": true,
      "bServerSide": true,
      "bScrollCollapse": true,
      "bPaginate": false,
      "bLengthChange": false,
      "bSort": false,
      "bFilter": false,
      "bAutoWidth": false,
      "bInfo": false,
      "oLanguage": {
        "sZeroRecords": "No linked requirements"
      }
    };
    #{/tabularasa.init}




  });

</script>
#{/set}
