<div class="shownOnLoad">
  No script selected.
</div>
<div class="hiddenOnLoad">
  #{deadbolt.restrict roles:[[models.general.UnitRole.TESTREPOEDIT]]}
    <button id="createStepButton">Create step</button>
    <button id="updateStepButton">Edit step</button>
  #{/deadbolt.restrict}

  <table class="display" id="stepTable">
    <thead>
    <tr>
      <th>Nr</th>
      <th>Name</th>
      <th>Description</th>
      <th>Expected results</th>
    </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>

<div id="createStepDialog" title="Create a step">
  #{ox.form id:'createStepForm', action:@Repository.createOrUpdateStep(), baseClass:'models.tm.test.ScriptStep', create:true}
    #{ox.field field:'step.name', label:'Name' /}
    #{ox.field field:'step.position', label:'Position' /}
    #{ox.field field:'step.description', label:'Description' /}
    #{ox.field field:'step.expectedResult', label:'Expected result' /}
    #{ox.field field:'step.id', hidden:true /}
  #{/ox.form}
</div>

<div id="updateStepDialog" title="Create a step">
  #{ox.form id:'updateStepForm', action:@Repository.createOrUpdateStep(), baseClass:'models.tm.test.ScriptStep'}
    #{ox.field field:'step.name', label:'Name' /}
    #{ox.field field:'step.position', label:'Position' /}
    #{ox.field field:'step.description', label:'Description' /}
    #{ox.field field:'step.expectedResult', label:'Expected result' /}
    #{ox.field field:'step.id', hidden:true /}
  #{/ox.form}
</div>


<script type="text/javascript">

  $(document).ready(function() {

    #{tabularasa.init tableId:'stepTable'}
    var stepTableParameters = {
      "aoColumns": [
        {"sName": "id", "sClass": "sNone" },
        {"sName": "position"},
        {"sName": "name"},
        {"sName": "descriptionHTML"},
        {"sName": "expectedResultHTML"}
      ],
      "sAjaxSource": "@{Repository.steps()}",
      "bProcessing": true,
      "bServerSide": true,
      "bFilter": false,
      "bSort": false,
      "bLengthChange": false,
      "iDisplayLength": 10,
      "bScrollCollapse": true,
      "bAutoWidth": false,
      "bInfo": false,
      "oLanguage": {
        "sZeroRecords": "No steps defined yet"
      }
    };
    #{/tabularasa.init}

    function addRequestParameters(parameters, tableId) {
      parameters.push({"name": "scriptId", "value": getSelectedNodeId('repositoryTree') });
    }

    handleRowSelection('#stepTable', function() {
      $('#updateStepButton').button('enable');
    });

    $('#createStepButton').button({icons: {primary: 'ui-icon-plus'}});
    $('#createStepButton').click(function() {
      $('#createStepDialog').dialog('open');
    });

    $('#createStepForm').oxForm({
      submissionCallback: function() {
        refreshTableContents('#stepTable', false);
      }
    });

    $('#createStepDialog').dialog({
      autoOpen: false,
      width: 500,
      height: 400,
      draggable: true,
      resizable: false,
      modal: true,
      buttons: {
        "Create step": function() {
          $('#createStepForm').oxForm('submitCreateForm', {scriptId: getSelectedNodeId('repositoryTree')});
          $(this).dialog("close");
        },
        "Cancel": function() {
          $('#createStepForm').resetForm();
          $(this).dialog("close");
        }
      }
    });

    $('#updateStepButton').button({icons: {primary: 'ui-icon-pencil'}});
    $('#updateStepButton').button('disable');
    $('#updateStepButton').click(function() {
      $('#updateStepDialog').dialog('open');
    });

    $('#updateStepForm').oxForm({
      submissionCallback: function() {
        refreshTableContents('#stepTable', false);
      },
      loadAction: '@{Repository.stepDetailsData()}'
    });

    $('#updateStepDialog').dialog({
      autoOpen: false,
      width: 500,
      height: 400,
      draggable: true,
      resizable: false,
      modal: true,
      open: function() {
        $('#updateStepForm').oxForm('load', getSelectedRowId('#stepTable'), {scriptId: getSelectedNodeId('repositoryTree')});
      },
      buttons: {
        "Update step": function() {
          $('#updateStepForm').submit();
          $(this).dialog("close");
        },
        "Cancel": function() {
          $(this).dialog("close");
        }
      }
    });
  });
</script>