#{dialogForm action:@Repository.createOrUpdateStep(),
             createDialogId:'createStepDialog',
             updateDialogId:'updateStepDialog',
             baseClass:'models.tm.test.ScriptStep',
             baseObject:step}

#{input.field field:'step.name', label:'Name' /}
#{input.field field:'step.position', label:'Position' /}
#{input.field field:'step.description', label:'Description' /}
#{input.field field:'step.expectedResult', label:'Expected result' /}
<input type="hidden" name="scriptId" value="${script.id}"/>
#{if step != null}
<input type="hidden" name="step.id" value="${step.id}"/>
#{/if}
#{/dialogForm}
