<div id="feedbackContainer" class="slide-out-div">
    <div id="thanksNote" style="display:none">
        <h2>Thank you for the feedback!</h2>
    </div>
    <a class="handle" href="">Feedback</a>
    <div id="feedbackElementsWrapper">
        Your name: <br/>
        <input id="personName"/><br/><br/>
        Feedback:<br/>
        <textarea id="messageFeedback" rows="10" cols="40"></textarea><br/><br/>
        <button id="sendFeedback">Send</button>
        <button id="cancelFeedback">Cancel</button>
    </div>
</div>
