<div id="${_id}" class="form-dialog" title="${_title}">
    #{input.form action:_action, id:_id + 'Form', baseClass:_baseClass}
    %{_body.setProperty('baseClass', _baseClass); }%
    <script type="text/javascript">
        function ${_id}FormSubmissionCallback() {
            if (typeof ${_id}SubmissionCallback !== 'undefined') {
                ${_id}
                SubmissionCallback();
            }
            $('#${_id}').dialog("close");
        }
    </script>
    #{doBody /}
    #{/input.form}
</div>

<button class="button-add" id="${_id}SubmitButton">${_openDialogButtonText}</button>

<script type="text/javascript">
    $(document).ready(function() {
        $('#${_id}').dialog("option", "buttons", {

            "${_submitButtonText == null ? _submitButtonText : 'Submit'}": function() {
                var valid = $('#${_id}Form').validate().form();
                if (valid) {
                    $('#${_id}Form').submit();
                    $('#${_id}').dialog("close");
                }
                if ("${_refreshTableId}") {
                    refreshTableContents('#${_refreshTableId}', false)
                }
            },
            Cancel: function() {
                $('#${_id}Form').validate().resetForm();
                $(this).dialog("close");
            }
        });


        $("#${_id}SubmitButton")
                .click(function() {
            $("#${_id}").dialog("open");
        });
    });
</script>