<div id="top_menu">

  #{if _space == 'application'}
  <span class="ui-widget">${_caller.activeProject == null ? 'No project' : _caller.activeProject.name}</span>
  #{topMenuButtons firstName:_caller.firstName, lastName:_caller.lastName /}
  #{/if}

  #{elseif _space == 'admin'}
  #{button id:'tmButton', title:'Test Management', link:@Dashboard.index() /}
  #{topMenuButtons firstName:_caller.firstName, lastName:_caller.lastName /}
  #{/elseif}

  #{elseif _space == 'profile'}
  #{button id:'tmButton', title:'Test Management', link:@Dashboard.index() /}
  #{topMenuButtons firstName:_caller.firstName, lastName:_caller.lastName /}
  #{/elseif}
</div>