<button class="menuButton" id="userButton">${_firstName} ${_lastName}</button>
<ul>
    <li><a href="@{profile.Profile.index}">Profile</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>

#{deadbolt.restrict roles:[[models.general.UnitRole.USERCREATE, models.general.UnitRole.USEREDIT, models.general.UnitRole.USERDELETE],[models.general.UnitRole.PROJECTCREATE, models.general.UnitRole.PROJECTEDIT, models.general.UnitRole.PROJECTDELETE],[models.general.UnitRole.ACCOUNTADMIN]]}
<button class="menuButton" id="adminButton">Admin</button>
<ul>
    #{deadbolt.restrict roles:[[models.general.UnitRole.USERCREATE, models.general.UnitRole.USEREDIT,
    models.general.UnitRole.USERDELETE]]}
    <li><a href="@{admin.Users.index()}" id="adminUsersLink">Users</a></li>
    #{/deadbolt.restrict}
    #{deadbolt.restrict roles:[[models.general.UnitRole.PROJECTCREATE, models.general.UnitRole.PROJECTEDIT,
    models.general.UnitRole.PROJECTDELETE]]}
    <li><a href="@{admin.Projects.index()}" id="adminProjectsLink">Projects</a></li>
    #{/deadbolt.restrict}
    #{deadbolt.restrict roles:[[models.general.UnitRole.ACCOUNTADMIN]]}
    <li><a href="@{admin.AccountSettings.index()}" id="adminAccountSettingsLink">Account & Settings</a></li>
    #{/deadbolt.restrict}
</ul>
#{/deadbolt.restrict}

<script type="text/javascript">
    $(document).ready(function () {
        var adminButton = $("#adminButton").button({
            icons: {
                primary: "ui-icon-gear",
                secondary: "ui-icon-triangle-1-s"
            },
            text: false
        });
        var userButton = $("#userButton").button({
            icons: {
                primary: "ui-icon-person",
                secondary: "ui-icon-triangle-1-s"
            }
        });

        $('.menuButton').oxMenu();
    });
</script>