#{if instance == null}
No test instance selected
#{/if}
#{else}
<div id="instanceTabs">
  <ul>
    <li><a href="@{preparation.Instances.tags('instanceId': instance.id)}" id="instanceTagsLink"><span>Tags</span></a>
    </li>
    <li><a href="@{preparation.Instances.schedule('instanceId': instance.id)}" id="scheduleLink"><span>Schedule</span></a>
    </li>
    <li><a href="@{preparation.Instances.testData('instanceId': instance.id)}" id="testDataLink"><span>Test data</span></a>
    </li>
  </ul>
</div>

<script type="text/javascript">
  $(document).ready(function() {

    $("#instanceTabs").tabs({
      select: function() {
        removeDialogs();
      }
    });
  });
</script>

#{/else}
