%{
  def formBaseClass = _caller.baseClass;
  def formId = _caller.formId;
  def baseClass = _baseClass ? _baseClass : formBaseClass;
  def create = _caller.create;
  def edit = _caller.edit != null ? _caller.edit : true;
}%
#{forms.objectField baseClass:baseClass, formId:formId, field:_field}
#{if edit && _type != null && _type == 'tags'}
  #{ox.tagsField field:_field, label:_label, baseClass:baseClass, formId:formId, name:_name /}
#{/if}
#{elseif edit && _hidden != null && _hidden}
  #{ox.hiddenField field:_field, baseObject:baseObject, baseClass:baseClass, formId:formId, name:_name, create:create /}
#{/elseif}
#{elseif !edit && _hidden != null && _hidden}#{/elseif}
#{elseif !edit && _type != 'tags'}
  *{for the moment, only print out stuff verbatim here}*
  #{forms.field field:_field, baseClass:baseClass, formId:formId, name:_name}
  <div class="field">
      <span class="name">${_label}</span>
      <span id="${field.id}" data-bind="text: value_${field.id}" class="oxdisplayfield"></span>
  </div>
  #{/}
#{/elseif}
#{elseif !edit && _type != null && _type == 'tags'}
  *{for the moment, only print out stuff verbatim here}*
  #{forms.field field:_field, baseClass:baseClass, formId:formId, name:_name}
  <div class="field">
      <span class="name">${_label}</span>
    <div>
      <ul id="${field.id}" class="field oxdisplayfield token-input-list" data-bind="template: {name: 'tagsListTemplate', foreach: value_${field.id}}"></ul>
    </div>
  </div>
  <script type="text/html" id="tagsListTemplate">
    <li class="token-input-token" data-bind="text: name"></li>
  </script>
  #{/}
#{/elseif}
#{elseif objectField.type == 'text'}
  #{ox.textField field:_field, label:_label, baseObject:baseObject, baseClass:baseClass, formId:formId, name: _name, create:create /}
#{/elseif}
#{elseif objectField.type == 'longtext'}
  #{ox.longtextField field:_field, label:_label, baseObject:baseObject, baseClass:baseClass, formId:formId, name: _name, create:create /}
#{/elseif}
#{elseif objectField.type == 'date'}
  #{ox.dateField field:_field, label:_label, baseObject:baseObject, baseClass:baseClass, formId:formId, name: _name, create:create /}
#{/elseif}
#{elseif objectField.type == 'password'}
  #{ox.passwordField field:_field, label:_label, baseObject:baseObject, baseClass:baseClass, formId:formId, name: _name, create:create /}
#{/elseif}
#{elseif objectField.type == 'number'}
  #{ox.numberField field:_field, label:_label, baseObject:baseObject, baseClass:baseClass, formId:formId, name: _name, create:create /}
#{/elseif}
#{elseif objectField.type == 'relation'}
  #{ox.relationField field:_field, label:_label, baseObject:baseObject, baseClass:baseClass, formId:formId, objectField:objectField, name: _name, create:create, autoComplete: _autoComplete != null && _autoComplete /}
#{/elseif}
#{else}
  Problem with the hyperspace flux compensator, syonic variable type is '${objectField.type}'
#{/else}
#{/forms.objectField}