%{
  def formBaseClass = _caller.baseClass;
  def baseClass = _baseClass ? _baseClass : formBaseClass;
  def create = _caller.create;
}%
#{forms.objectField baseClass:baseClass, field:_field}
#{if _hidden != null && _hidden}
  #{ox.hiddenField field:_field, baseObject:baseObject, baseClass:baseClass, name:_name, create:create /}
#{/if}
#{elseif objectField.type == 'text'}
  #{ox.textField field:_field, label:_label, baseObject:baseObject, baseClass:baseClass, name: _name, create:create /}
#{/elseif}
#{elseif objectField.type == 'longtext'}
  #{ox.longtextField field:_field, label:_label, baseObject:baseObject, baseClass:baseClass, name: _name, create:create /}
#{/elseif}
#{elseif objectField.type == 'date'}
  #{ox.dateField field:_field, label:_label, baseObject:baseObject, baseClass:baseClass, name: _name, create:create /}
#{/elseif}
#{elseif objectField.type == 'password'}
  #{ox.passwordField field:_field, label:_label, baseObject:baseObject, baseClass:baseClass, name: _name, create:create /}
#{/elseif}
#{elseif objectField.type == 'number'}
  #{ox.numberField field:_field, label:_label, baseObject:baseObject, baseClass:baseClass, name: _name, create:create /}
#{/elseif}
#{elseif objectField.type == 'relation'}
  #{ox.relationField field:_field, label:_label, baseObject:baseObject, baseClass:baseClass, objectField:objectField, name: _name, create:create, autoComplete: _autoComplete != null && _autoComplete /}
#{/elseif}
#{else}
  Problem with the hyperspace flux compensator, syonic variable type is '${objectField.type}'
#{/else}
#{/forms.objectField}