*{
  ox.form: takes care of generating forms with the following automated goodies:
   - complete HTML form generation together with necessary Play! security tokens
   - validation using the jQuery form validation plugin
   - data-binding using knockoutJS
   - ajax submit using the jQuery form plugin

   the form operates in two modes: creation if no baseObjectId is provided, edition otherwise

   input parameters:
   - _id:           form ID
   - _action:       controller action
   - _baseClass:    class of the base object to create / edit
   - _baseObjectId: ID necessary to retrieve the base object data via a JSON callback
   - _loadAction:   controller action that will retrieve the initial form data based on the baseObjectId and the baseClass
}*

#{form action:_action, id:_id, class:'oxForm', "data-bind":'submit: submitForm'}
*{ the following properties are set so that they can be retrieved in child tags, i.e. in fields }*
  %{_body.setProperty('formId', _id); }%
  %{_body.setProperty('baseClass', _baseClass); }%
  #{doBody /}
#{/form}

<script type="text/javascript">
  (function($) {
    $.metadata.setType('html5');
    $(document).ready(function() {
        <!-- add a listener to re-enable the submit if form has changed -->
        $('#${_id} :input[type!="submit"][type!="hidden"]').each(function(index, item) {
          $(item).focus(function() {
            var b = $('#${_id}_submit');
            if(b.button("option", "disabled")) {
              b.button('enable');
            }
          });
        });

      $('#${_id}').validate({meta:'validate'});
    });
  })(jQuery);
</script>