*{
  ox.form: takes care of generating forms with the following automated goodies:
   - complete HTML form generation together with necessary Play! security tokens
   - validation using the jQuery form validation plugin
   - data-binding using knockoutJS
   - ajax submit using the jQuery form plugin

   the form should be used in combination with the jQuery oxForm plugin and initialized as follows:

        $('#form').oxForm({
          loadAction: // URL of the action to load form data, if this is an edition form,
          submissionCallback: // some submission callback, after the form was submitted
        });

        // load form data
        $('#form').oxForm('load', ID); // pass the ID of the object to load the data of

   input parameters:
   - _id:           form ID
   - _action:       controller action
   - _create:       whether this is a create form
   - _baseClass:    class of the base object to create / edit
}*

#{form action:_action, id:_id, class:'oxForm', "data-bind":'submit: submitForm'}
*{ the following properties are set so that they can be retrieved in child tags, i.e. in fields }*
  %{_body.setProperty('formId', _id); }%
  %{_body.setProperty('baseClass', _baseClass); }%
  %{_body.setProperty('create', _create); }%
  #{doBody /}
#{/form}

<script type="text/javascript">
    $.metadata.setType('html5');
    $(document).ready(function() {
      $('#${_id} :input[type!="submit"][type!="hidden"]').each(function(index, item) {
        $(item).focus(function() {
          var b = $('#${_id}_submit');
          if(b) {
            if(b.button('option', 'disabled')) {
              b.button('enable');
            }
          }
        });
      });
  });
</script>