#{extends 'main.html' /}
#{set title:'Test preparation' /}


<div class="container">
  <div class="left_tree">
    #{box 'Test Script Repository'}
    <div id="repositoryTree" class="tree" style="border-style:none;"></div>
    #{/box}
  </div>
  <div class="right_tree">
    <div id="scriptDetails">No script selected</div>
  </div>
</div>


#{set 'moreScripts'}
<script type="text/javascript">

  $(document).ready(function () {
    $("#repositoryTree").tree({types: repositoryTreeTypes});
    #{tree.selectionListener treeId:"repositoryTree", type:"scriptNode", types:["default", 'script'], action:@Preparation.scriptContent(), targetId:"scriptDetails" /}
  });

</script>
#{/set}
