<div id="actions">
  <button id="assign_cycle">Instance</button>
  <button id="remove_cycle">Remove</button>
</div>


<div id="assign_dialog" title="Assign script to cycle" class="modalDialog">
  <div id="approachTree" class="tree"></div>
</div>


<script type="text/javascript">
  $(document).ready(function() {

    $("#assign_cycle").button({icons: {primary: "ui-icon-plus"}}).click(function() {
      $("#assign_dialog").dialog("open");
    });

    $("#remove_cycle").button({icons: {primary: 'ui-icon-minus'}}).click(function () {
      var $tree = jQuery.jstree._reference('#scriptCycleTree');
      var selectedNode = $tree.get_selected();
      if (isSelectedNodeOfType($tree, selectedNode, ['default', 'instance'])) {
        selectedNode.data("args", {scriptId: getSelectedNodeId('repositoryTree')});
        $tree.delete_node(selectedNode);
        refreshCycleTree();
      }
    });

    $("#assign_dialog").dialog({
      autoOpen: false,
      height: 550,
      width: 300,
      modal: true,
      buttons: {
        "Assign to cycle": function() {

          var valid = false;
          var treeContainer = $("#approachTree");
          var $tree = jQuery.jstree._reference(treeContainer);
          var selectedNode = $tree.get_selected();
          if ($tree._get_type(selectedNode) == 'testCycle') {
            valid = true;
          } else {
            // display validation error or message somehow
            alert("You need to select a cycle");
          }

          if (valid) {
            var name = selectedNode.text();
            $("#scriptCycleTree").jstree("create", -1, "last", {attr: {"rel": "testCycle"}, data: name, metadata: {args: {cycleNodeId: extractId(selectedNode.attr('id')), scriptId: getSelectedNodeId('repositoryTree')}}}, null, true);
            refreshCycleTree();
            $(this).dialog("close");
          }
        },
        Cancel: function() {
          $(this).dialog("close");
        }
      }
    });

    $('#approachTree').tree({"args" : {"projectId": "${project == null ? controllers.TMController.getActiveProject().getId() : project.id}"}, types: approachTreeTypes});

    function refreshCycleTree() {
      var cycleTreeContainer = $("#scriptCycleTree");
      jQuery.jstree._reference(cycleTreeContainer).refresh();
      jQuery.jstree._reference(cycleTreeContainer).deselect_all();
    }

  });
</script>

