<div id="actions" class="actions">
    <div class="actions buttons">
        #{deadbolt.restrict roles:[[models.general.UnitRole.TESTPREPCREATE]]}
        <button id="createInstanceButton" class="button-add">Instance</button>
        #{/deadbolt.restrict}
        #{deadbolt.restrict roles:[[models.general.UnitRole.TESTPREPDELETE]]}
        <button id="removeInstance" class="button-delete">Remove</button>
        #{/deadbolt.restrict}
    </div>
</div>

<div id="cycleDeleteConfirmationDialog" title="Deletion confirmation of cycle"></div>


<div class="left_table inner">
    #{box 'Test Instances'}
    <table class="display" id="instancesTable">
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    #{/box}
</div>
<div class="right_table inner">
    #{include 'Preparation/instanceTabs.html' /}
</div>

<script type="text/javascript">

    var scriptIdParam = null;
    $("#repositoryTree").bind("select_node.jstree", function (e, data) {
        scriptIdParam = getScriptId();
        refreshTableContents("#instancesTable", false, false)
    })

    #{tabularasa.init tableId:'instancesTable'}
    var instancesTableParameters = {
        "aoColumns":[
            {"sName": "id", "sClass": "sNone"},
            {"sName": "name"}

        ],
        "bServerSide": true,
        "bLengthChange": false,
        "bSort": false,
        "bFilter": false,
        "bAutoWidth": false,
        "iDisplayLength": false,
        "bInfo": false,
        "sAjaxSource": "@{Preparation.instances()}",
        "oLanguage": {
            "sZeroRecords": "No test instances created"
        }
    };
    #{/tabularasa.init}

    function addRequestParameters(parameters, tableId) {
        if (tableId == 'instancesTable') {
            parameters.push({"name": "scriptId", "value": scriptIdParam});
        }
    }

    handleRowSelection("#instancesTable", function(id) {
        handleTabsPopulation(id);
        $('#removeInstance').button('enable');
    });

    $('#removeInstance').click(function() {
        $('.instanceHiddenOnLoad').hide();
        $('.instanceShownOnLoad').show();
        deletionConfirmation('cycleDeleteConfirmationDialog', 'Instance', getSelectedRowColumn($('#instancesTable').dataTable(), 1), function() {
            $.post("@{Preparation.deleteInstance()}", { instanceId: getSelectedRowId("#instancesTable")}, function() {
                refreshTableContents("#instancesTable", false, false);
            });
        });
    });

    function getSelectedId() {
        return getSelectedRowId('#instancesTable');
    }

    function getInstanceQuery() {
        return {'instanceId': getSelectedRowId('#instancesTable')};
    }

    function getScriptId() {
        if (getSelectedNode('repositoryTree') != null) {
            return getSelectedNodeId('repositoryTree');
        }
        else {
            return null;
        }
    }

    function loadInnerData() {
        $.post('@{Preparation.instances()}', {scriptId: getSelectedNodeId('repositoryTree')},
                function() {
                    refreshTableContents('#instancesTable', false, false);
                }).error(errorHandler);
    }

    $('#createInstanceButton').click(function() {
        $.post("@{Preparation.createInstance()}", {scriptId: getSelectedNodeId('repositoryTree')}, function() {
            refreshTableContents("#instancesTable", false, false);
        })
    });

</script>