<div id="actions" class="actions">
  <div class="actions buttons">
    #{deadbolt.restrict roles:[[models.general.UnitRole.TESTPREPCREATE]]}
    <button id="assignToCycle" class="button-add">Instance</button>
    #{/deadbolt.restrict}
    #{deadbolt.restrict roles:[[models.general.UnitRole.TESTPREPDELETE]]}
    <button id="removeFromCycle" class="button-delete">Remove</button>
    #{/deadbolt.restrict}
  </div>
</div>

<div class="tree-container">
  <div class="left_tree">
    #{deadbolt.restrict roles:[[models.general.UnitRole.TESTREPOCREATE],[models.general.UnitRole.TESTREPOEDIT]]}
    #{include 'Preparation/instanceCreateDialog.html' /}
    #{/deadbolt.restrict}
    <div id="scriptCycleTree" class="tree"></div>
  </div>
  <div class="right_tree inner">
    #{include 'Preparation/instanceTabs.html' /}
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function() {

    $("#repositoryTree").bind("select_node.jstree", function (e, data) {

        // selection listener for the instance tree
        $("#scriptCycleTree").tree({"args" : getScriptQuery, types: scriptCycleTreeTypes});
        $("#scriptCycleTree").bind("select_node.jstree", function (e, data) {
          if (isSelectedNodeType(data, ["instance", "default"])) {
            var instanceId = getNodeIdFromData(data);
            handleTabsPopulation(instanceId);
          } else {
            $('.instanceHiddenOnLoad').hide();
            $('.instanceShownOnLoad').show();
            $("#removeFromCycle").button('disable');
          }
        });

        $("#scriptCycleTree").bind("delete_node.jstree", function (e, data) {
          $('.instanceHiddenOnLoad').hide();
          $('.instanceShownOnLoad').show();
        });

    });

  });

  function getSelectedId() {
    return getSelectedNodeId('scriptCycleTree');
  }

  function getInstanceQuery() {
    return {'instanceId': getSelectedNodeId('scriptCycleTree')};
  }

  function getScriptQuery() {
    return {'scriptId': getSelectedNodeId('repositoryTree') ? getSelectedNodeId('repositoryTree') : -1}
  }

  function loadInnerData() {
    jQuery.jstree._reference("#scriptCycleTree").load_node_json(-1, false, false);
  }

</script>