#{if instance == null}
No test instance selected
#{/if}
#{else}

#{input.form action:@Preparation.editSchedule(), id:'scheduleForm', baseObject:instance}

  <label for="responsible">Assigned to</label>
  <input type="text" id="responsible" name="responsible" value="${instance.responsible != null ? instance.responsible.getFullName() : ''}">
  <input type="hidden" id="responsibleId" name="responsibleId" value="${instance.responsible != null ? instance.responsible.id : ''}" />
  #{input.field field:'instance.plannedExecution', label:'Planned execution', name:'plannedExecution' /}
  <input type="hidden" name="instanceId" value="${instance.id}" />

  #{input.submit /}

#{/input.form}

<script type="text/javascript">
  $(document).ready(function() {

    $('#responsible').autocomplete({
      source: "@{Preparation.allUsers()}",
      minLength: 0,
      select: function(event, ui) {
        $('#responsible').val(ui.item.label);
        $('#responsibleId').val(ui.item.value);
        return false;
      }
    });

  });
</script>
#{/else}