#{box 'Test Script "'+script.name+'"'}
<div class="left_tree">
  #{include 'Preparation/instanceCreateDialog.html' /}
  <div id="scriptCycleTree" class="tree"></div>
</div>
<div class="right_tree">
  <div id="instanceDetails">No test instance selected</div>
</div>
#{/box}

<script type="text/javascript">
  $(document).ready(function() {
    $("#scriptCycleTree").tree({"args" : {"scriptId": "${script.id}"}, types: scriptCycleTreeTypes});
    #{tree.selectionListener treeId:"scriptCycleTree", type:"instance", types:["default", "instance"], action:@Preparation.content(), targetId:"instanceDetails" /}
  });
</script>