#{box 'Test Script "'+script.name+'"'}
  <div class="left_tree">
    #{include 'Preparation/instanceCreateDialog.html' /}
    <div id="scriptCycleTree" class="tree"></div>
  </div>
  <div class="right_tree">
    <div id="instanceDetails">No test instance selected</div>
  </div>
#{/box}

<script type="text/javascript">
  $(document).ready(function() {

    $("#scriptCycleTree").jstree({
      "plugins" : [ "json_data", "ui", "crrm", "types", "hotkeys", "themeroller" ],

      "json_data" : {
        "ajax" : {
          "url" : "@{TMTreeController.getChildren()}",
          "data" : function (n) {
            return {
              "id" : n.attr ? extractId(n.attr("id")) : -1,
              "treeId" : "scriptCycleTree",
              "type" : n.attr ? n.attr("rel") : "",
              "args" : {"scriptId": "${script.id}"}
            };
          }
        }
      },
      "themeroller": {
        "item": ""
      },
      "types" : {
        "max_depth" : -2,
        "max_children" : -2,
        "types" : {
          "default" : {
            "valid_children" : "none",
            "icon" : {
              "image" : "@{'public/images/jstree/file.png'}" // TODO instance icon
            }
          },
          "testCycle" : {
            "valid_children" : [ "instance" ],
            "icon" : {
              "image" : "@{'public/images/jstree/folder.png'}" // TODO cycle icon
            }
          },
          "release" : {
            "valid_children" : [ "testCycle" ],
            "icon" : {
              "image" : "@{'public/images/jstree/folder.png'}" // TODO release icon
            },
            "start_drag" : false,
            "move_node" : false,
            "delete_node" : false,
            "remove" : false
          }
        }
      }
    });
    #{tree.common id:"scriptCycleTree", controller:"TMTreeController" /}

    #{tree.selectionListener treeId:"scriptCycleTree", type:"instance", types:["default", "instance"], action:@Preparation.content(), targetId:"instanceDetails" /}
  });
</script>