#{if instance == null}
No test instance selected
#{/if}
#{else}
<form id="tagsForm" action="@{Preparation.addTags()}" method="post">
  <input name="tags" id="tags" type="text" value="${tags.join(',')}"/>
  <input type="hidden" name="instanceId" value="${instance.id}" />
  <button id="saveButton">Save</button>
</form>

<script type="text/javascript">
  $(document).ready(function() {

    $('#tags').tagsInput({
      'autocomplete_url': "@{Preparation.allTags('instanceId' : instance.id)}",
      'autocomplete': {minLength: 0},
      'height':'100px',
      'width':'400px',
      'defaultText':'add a tag'
    });

    $('#tags_tagsinput').focus(function() {
      $('#saveButton').button('enable');
    });

    $('#tagsForm').ajaxForm(function() {
      $('#saveButton').button('disable');
    });

    $('#saveButton').button();

  });
</script>
#{/else}