#{if script == null}
No script selected
#{/if}
#{else}

#{box 'Test Script "'+script.name+'"'}
<div id="scriptDetailsTabs">
  <ul>
    <li><a href="@{preparation.Preparation.scriptDetails('scriptId': script.id)}" id="scriptDetailsLink"><span>Description</span></a></li>
    <li><a href="@{preparation.Preparation.steps('scriptId': script.id)}" id="stepsLink"><span>Steps</span></a></li>
    <li><a href="@{preparation.Preparation.linked('scriptId': script.id)}" id="linkedEntitiesLink"><span>Linked entities</span></a>
    </li>
  </ul>
</div>

#{/box}

<br/>
<br/>

#{box 'Add to cycle, assign, schedule, set test data'}
<div class="left_tree">
  #{include 'preparation/Preparation/cycleAssignDialog.html' /}
  <div id="scriptCycleTree" class="tree"></div>
</div>
<div class="right_tree">
  <div id="instanceDetails">No test instance selected</div>
</div>


#{/box}

<script type="text/javascript">
  $(document).ready(function() {

    $("#scriptDetailsTabs").tabs({
      select: function() {
        removeDialogs();
      }
    });


    $("#scriptCycleTree").jstree({
      "plugins" : [ "json_data", "ui", "crrm", "types", "hotkeys", "themeroller" ],

      "json_data" : {
        "ajax" : {
          "url" : "@{TMTreeController.getChildren()}",
          "data" : function (n) {
            return {
              "id" : n.attr ? n.attr("id").replace("node_", "") : -1,
              "treeId" : "scriptCycleTree",
              "args" : {"scriptId": "${script.id}"}
            };
          }
        }
      },
      "themeroller": {
        "item": ""
      },
      "types" : {
        "max_depth" : -2,
        "max_children" : -2,
        "types" : {
          "default" : {
            "valid_children" : "none",
            "icon" : {
              "image" : "@{'public/images/jstree/file.png'}" // TODO instance icon
            }
          },
          "testCycle" : {
            "valid_children" : [ "instance" ],
            "icon" : {
              "image" : "@{'public/images/jstree/folder.png'}" // TODO cycle icon
            }
          },
          "release" : {
            "valid_children" : [ "testCycle" ],
            "icon" : {
              "image" : "@{'public/images/jstree/folder.png'}" // TODO release icon
            },
            "start_drag" : false,
            "move_node" : false,
            "delete_node" : false,
            "remove" : false
          }
        }
      }
    });
    #{tree.common id:"scriptCycleTree", controller:"TMTreeController" /}

    #{tree.selectionListener treeId:"scriptCycleTree", type:"instance", types:["default", "instance"], action:@preparation.Instances.content(), targetId:"instanceDetails" /}


  });
</script>


#{/else}