#{if script == null}
No script selected
#{/if}
#{else}

#{input.form action:@preparation.Preparation.editScript(), id:'scriptDetailsForm', baseObject:script}

  #{input.field field:'script.name', label:'Name' /}
  #{input.field field:'script.description', label:'Description' /}

  <input type="hidden" name="script.id" value="${script.id}"/>
  <input type="hidden" name="script.project.id" value="${script.project.id}"/>
  <input type="hidden" name="script.project.account.id" value="${script.project.account.id}"/>
  <input type="hidden" name="script.project.projectCategory.id" value="${script.project.projectCategory.id}"/>
  <input type="hidden" name="script.project.projectCategory.account.id"
         value="${script.project.projectCategory.account.id}"/>

  #{input.submit /}

#{/input.form}
        
#{/else}