#{if script == null}
No script selected
#{/if}
#{else}

#{dialog id:'newStepDialog', title:'Create a step', loadAction:@preparation.Preparation.stepDialog('scriptId': script.id),
openDialogButtonText:'Script step', submitButtonText:'Create step', width: 500, height: 500 /}
        
<table class="display" id="stepTable">
  <thead>
  <tr>
    <th>Nr</th>
    <th>Name</th>
    <th>Description</th>
    <th>Expected results</th>
  </tr>
  </thead>
  <tbody></tbody>
</table>


<script type="text/javascript">

  $(document).ready(function() {

    #{tabularasa.init tableId:'stepTable'}
    var stepTableParameters = {
      "aoColumns": [
        {"sName": "id", "sClass": "sNone" },
        {"sName": "position"},
        {"sName": "name"},
        {"sName": "descriptionHTML", "sType": "html"},
        {"sName": "expectedResultHTML", "sType": "html"}
      ],
      "sAjaxSource": "@{preparation.Preparation.stepData('scriptId': script.id)}",
      "bProcessing": true,
      "bServerSide": true,
      "bFilter": false,
      "bLengthChange": false,
      "iDisplayLength": 10,
      "bInfo": false,
      "oLanguage": {
        "sZeroRecords": "No steps defined yet"
      }
    };
    #{/tabularasa.init}

  });
</script>
#{/else}