#{if script == null}
No script selected
#{/if}
#{else}

#{dialog id:'createStepDialog', title:'Create a step', loadAction:@preparation.Preparation.stepDialog('scriptId': script.id),
openDialogButtonText:'Script step', submitButtonText:'Create step', type:'create', width: 500, height: 500}
<script type="text/javascript">
  function createStepDialogSubmissionCallback() {
    refreshTableContents("stepTable", false);
  }
</script>
#{/dialog}


#{dialog id:'updateStepDialog', title:'Edit a step', loadAction:@preparation.Preparation.stepDialog(':scriptId', ':stepId'),
openDialogButtonText:'Edit Script step', submitButtonText:'Update step', type:'update', width: 500, height: 500}
<script type="text/javascript">
  function updateStepDialogSubmissionCallback() {
    refreshTableContents("stepTable", false);
  }
  function updateStepDialogLoadActionParams() {
    return {scriptId: '${script.id}', stepId: getSelectedRowId($('#stepTable').dataTable()) }
  }
</script>
#{/dialog}


<table class="display" id="stepTable">
  <thead>
  <tr>
    <th>Nr</th>
    <th>Name</th>
    <th>Description</th>
    <th>Expected results</th>
  </tr>
  </thead>
  <tbody></tbody>
</table>


<script type="text/javascript">

  $(document).ready(function() {

    #{tabularasa.init tableId:'stepTable'}
    var stepTableParameters = {
      "aoColumns": [
        {"sName": "id", "sClass": "sNone" },
        {"sName": "position"},
        {"sName": "name"},
        {"sName": "descriptionHTML"},
        {"sName": "expectedResultHTML"}
      ],
      "sAjaxSource": "@{preparation.Preparation.stepData('scriptId': script.id)}",
      "bProcessing": true,
      "bServerSide": true,
      "bFilter": false,
      "bLengthChange": false,
      "iDisplayLength": 10,
      "bInfo": false,
      "oLanguage": {
        "sZeroRecords": "No steps defined yet"
      }
    };
    #{/tabularasa.init}

    <!-- when no step is selected, we do not want to make edition possible -->
    $('#updateStepDialogOpenDialogButton').button('disable');

    handleRowSelection("stepTable", function() {
      $('#updateStepDialogOpenDialogButton').button('enable');
    });



  });
</script>
#{/else}