#{extends 'profile/main.html' /}

#{ifErrors}
<div class="error">
    <h2>Oops, please correct these errors</h2>
</div>
#{/ifErrors}

<fieldset>
  <legend>Your profile information</legend>

#{jQueryValidate class:models.tm.User.class, key:'user', form:'profileForm'/}

#{form id:'profileForm', action:@profile.Profile.editUser()}

#{field 'user.authentication.firstName'}
  <div class="field">
      <label for="${field.id}">First name: </label>
      <input id="${field.id}" type="text" name="${field.name}" value="${field.value}" class="${field.errorClass}" />
      <span class="error">${field.error}</span>
  </div>
#{/}

#{field 'user.authentication.lastName'}
  <div class="field">
      <label for="${field.id}">Last name: </label>
      <input id="${field.id}" type="text" name="${field.name}" value="${field.value}" class="${field.errorClass}" />
      <span class="error">${field.error}</span>
  </div>
#{/}

<p>
  <input type="hidden" name="user.id" value="${user.id}" />
  <input type="hidden" name="user.authentication.id" value="${user.authentication.id}" />
  <input type="hidden" name="user.authentication.account.id" value="${user.authentication.account.id}" />
  <input type="submit" value="Save">
</p>

#{/form}

</fieldset>
