<div class="field">
    <input id="userAdmin" name="userAdmin" disabled="disabled" type="checkbox" ${userAdmin?'checked':''} />
    <label for="userAdmin">User administration</label>
</div>
<div class="field">
    <input id="projectAdmin" name="projectAdmin" disabled="disabled" type="checkbox" ${projectAdmin?'checked':''} />
    <label for="projectAdmin">Project administration</label>
</div>
<div class="field">
    <input id="accountAdmin" name="accountAdmin" disabled="disabled" type="checkbox" ${accountAdmin?'checked':''} />
    <label for="accountAdmin">Account administration</label>
</div>
