#{if user == null}
No user selected
#{/if}
#{else}

<form id="accountRolesForm" action="@{admin.Users.updateAccountRoles()}">
  <div class="field">
    <input id="userAdmin" name="userAdmin" type="checkbox" ${userAdmin?'checked':''}" />
    <label for="userAdmin">User administration</label>
  </div>
  <div class="field">
    <input id="projectAdmin" name="projectAdmin" type="checkbox" ${projectAdmin?'checked':''} />
    <label for="projectAdmin">Project administration</label>
  </div>
  <div class="field">
    <input id="accountAdmin" name="accountAdmin" type="checkbox" ${accountAdmin?'checked':''} />
    <label for="accountAdmin">Account administration</label>
  </div>
  <div class="field">
    <input type="hidden" name="userId" value="${user.id}"/>
    <button id="saveButton">Save</button>
  </div>

</form>

<script type="text/javascript">
  $('#saveButton').button({disabled: true}).click(function(event) {
    event.preventDefault();
    $('#accountRolesForm').ajaxSubmit(function() {
      $('#saveButton').button('disable');
    });
  });
  $.each($('#accountRolesForm input[type="checkbox"]'), function(index, el) {
      $(el).change(function() {
        $('#saveButton').button('enable');
      });
    });
</script>

#{/else}