#{if account == null}
No account set
#{/if}
#{else}

<fieldset>
    <legend>Administration roles</legend>

    <form name="adminRoles">

    <div class="field">
        <label for="${field.id}">First name</label>
        <input id="${field.id}" data-validate="${field.validationData}" type="text" name="${field.name}"
               value="${field.value}" class="${field.errorClass}"/>
        <span class="error">${field.error}</span>
    </div>

    <p>
        <input type="hidden" name="user.id" value="${user.id}"/>
        <input type="hidden" name="user.user.id" value="${user.user.id}"/>
        <input type="hidden" name="user.user.account.id" value="${user.user.account.id}"/>
        <input type="submit" value="Save">
    </p>

    </form>

</fieldset>

#{/else}