#{extends 'admin/main.html' /}
#{set title:'User administration' /}

<div class="container">
    <div class="actions">
        <div class="actions buttons">
            #{formDialog id:'newUserDialog', title:'Create a user', action:@admin.Users.create(), baseClass:'models.tm.TMUser',
        openDialogButtonText:'User', submitButtonText:'Create user', width: 400, dnd:true}
        <script type="text/javascript">
          function newUserDialogSubmissionCallback() {
            refreshTableContents('#tab', false);
          }
        </script>
        #{input.field field:'user.user.firstName', label:'First Name' /}
        #{input.field field:'user.user.lastName', label:'Last Name' /}
        #{input.field field:'user.user.email', label:'Email' /}
        #{input.field field:'user.user.password', label:'Password' /}
        #{/formDialog}

        <button id="removeUserButton">Remove</button>

        <div id="dialog-confirm" title="Confirm user removal">
          <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span><span id="confirmationMessage"></span></p>
        </div>
        </div>
    </div>
  <div class="tree-container">
      <div class="left_table">


        #{box 'Users'}
        <table class="display" id="tab">
          <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
          </tr>
          </thead>
          <tbody></tbody>
        </table>
        #{/box}
      </div>
      <div class="right_tree">

            <div id="innerTabs">
              <ul>
                <li><a href="@{admin.Users.userDetails()}" id="userDetailsLink"><span>User details</span></a></li>
                <li><a href="@{admin.Users.projects()}" id="projectsLink"><span>Projects</span></a></li>
                <li><a href="@{admin.Users.account()}" id="accountLink"><span>Account</span></a></li>
              </ul>
            </div>
  </div>

</div>
</div>

#{set 'moreScripts'}

<script type="text/javascript">

  $(document).ready(function() {

    $("#innerTabs").tabs({
      select: function() {
        removeDialogs();
      }
    });

    #{tabularasa.init tableId:'tab'}
    var tabParameters = {
      "aoColumns": [
        {"sName": "id", "sClass": "sNone" },
        {"sName": "user.firstName"},
        {"sName": "user.lastName"}
      ],
      "sAjaxSource": "@{admin.Users.data()}",
      "bProcessing": true,
      "bServerSide": true,
      "bLengthChange": false,
      "bSort": false,
      "iDisplayLength": 10,
      "bInfo": false,
      "oLanguage": {
        "sZeroRecords": "No users defined yet"
      }
    };
    #{/tabularasa.init}

    handleRowSelection('#tab', reloadTabs);

    function reloadTabs(selectedUser) {
      var links = ['@{admin.Users.userDetails()}', '@{admin.Users.projects()}', '@{admin.Users.account()}'];
      selectTab(links, selectedUser, 'user', $('#innerTabs'));
      $("#removeUserButton").button('enable');
    }

    $("#removeUserButton").button({disabled: true, icons: {primary: 'ui-icon-trash'}, text: false}).click(function () {
      $("#dialog-confirm").dialog('open');
    });

    $("#dialog-confirm").dialog({
      autoOpen: false,
      resizable: false,
      width:300,
      height: 'auto',
      modal: true,
      open: function() {
        $('#confirmationMessage').html('User "' + getSelectedRowColumn($('#tab').dataTable(), 1) + ' ' + getSelectedRowColumn($('#tab').dataTable(), 2) + '" will be permanently disabled. Are you sure?');
      },
      buttons: {
        "Remove the user": function() {
          $.post('@{admin.Users.removeUser()}', {userId: getSelectedRowId('#tab')}, function() {
            refreshTableContents('#tab', false);
            $("#removeUserButton").button('disable');
          }).error(errorHandler);
          $(this).dialog("close");
        },
        Cancel: function() {
          $(this).dialog("close");
        }
      }
    });

      //search filter align to left side
      $('#tab_filter').addClass('search-input-table-left');

  });

</script>
#{/set}