#{extends 'admin/main.html' /}
#{set title:'User administration' /}

#{set 'moreScripts'}

<script type="text/javascript">

  $(document).ready(function() {

    $("#innerTabs").tabs({
      select: function() {
        removeDialogs();
      }
    });

    #{tabularasa.init tableId:'tab'}
    var tabParameters = {
      "aoColumns": [
        {"sName": "authentication.id", "sClass": "sNone" },
        {"sName": "authentication.firstName"},
        {"sName": "authentication.lastName"}
      ],
      "sAjaxSource": "@{admin.Users.data()}",
      "bProcessing": true,
      "bServerSide": true,
      "bLengthChange": false,
      "bSort": false,
      "iDisplayLength": 10,
      "bInfo": false,
      "oLanguage": {
        "sZeroRecords": "No users defined yet"
      },
      // select a user if one was selected server-side (via the controller)
      "fnDrawCallback": function() {
        if ('${selectedUser}'.length > 0) {
          $(tabDataTable.fnSettings().aoData).each(function () {
            var nTr = $(this.nTr)[0];
            if ($($(nTr).children('td')[0]).text() == '${selectedUser}') {
              $(this.nTr).addClass('row_selected');
            }
          });
          reloadTabs(${selectedUser});
        }
      }
    };
    #{/tabularasa.init}

    handleRowSelection('tab', reloadTabs);

    function reloadTabs(selectedUser) {
      var links = ['@{admin.Users.userDetails()}', '@{admin.Users.projects()}', '@{admin.Users.account()}'];
      selectTab(links, selectedUser, 'user', $('#innerTabs'));
    }
  });

</script>
#{/set}

<div class="container">
  <div class="left_table">

    #{formDialog id:'newUserDialog', title:'Create a user', action:@admin.Users.create(), baseClass:'models.tm.User',
    openDialogButtonText:'User', submitButtonText:'Create user', width: 400, dnd:true}
      <script type="text/javascript">
        function newUserDialogSubmissionCallback() {
          refreshTableContents("tab", false);
        }
      </script>
      #{input.field field:'user.authentication.firstName', label:'First Name' /}
      #{input.field field:'user.authentication.lastName', label:'Last Name' /}
      #{input.field field:'user.authentication.email', label:'Email' /}
      #{input.field field:'user.authentication.password', label:'Password' /}
    #{/formDialog}

    <table class="display" id="tab">
      <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
  <div class="right_table">

    <div id="innerTabs">
      <ul>
        <li><a href="@{admin.Users.userDetails()}" id="userDetailsLink"><span>User details</span></a></li>
        <li><a href="@{admin.Users.projects()}" id="projectsLink"><span>Projects</span></a></li>
        <li><a href="@{admin.Users.account()}" id="accountLink"><span>Account</span></a></li>
      </ul>
    </div>
  </div>
</div>