#{extends 'admin/main.html' /}
#{set title:'User administration' /}

#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/demo_table_jui.css'}">
#{/set}

#{set 'moreScripts'}
<script src="@{'/public/javascripts/jquery.dataTables.min.js'}" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">

  $(function() {
    $("#innerTabs").tabs();
  });

  $(document).ready(function() {
    #{tabularasa.init tableId:'tab'}
    var tabParameters = {
      "aoColumns": [
        {"sName": "authentication.id"},
        {"sName": "authentication.firstName"},
        {"sName": "authentication.lastName"}
      ],
      "sAjaxSource": "@{admin.Users.data()}",
      "bProcessing": true,
      "bServerSide": true,
      "sDom": 'lfrtip<"customiseTable">'
    };
    #{/tabularasa.init}

    /* Add a click handler to the rows - this could be used as a callback */
    $("#tab tbody").click(function(event) {
      $(tabDataTable.fnSettings().aoData).each(function () {
        $(this.nTr).removeClass('row_selected');
      });
      $(event.target.parentNode).addClass('row_selected');


      // adjus the URLs of the tabs depending on the selected user
      var anSelected = fnGetSelected(tabDataTable);
      var tr = anSelected[0];
      var selectedUser = $($(tr).children('td')[0]).text();
      $('#innerTabs').tabs('url', 0, '@{admin.Users.userDetails()}?user=' + selectedUser);
      $('#innerTabs').tabs('url', 1, '@{admin.Users.projects()}?user=' + selectedUser);
      $('#innerTabs').tabs('url', 2, '@{admin.Users.account()}?user=' + selectedUser);

      // reloads the selected tab
      var $tabs = $('#innerTabs').tabs();
      var selected = $tabs.tabs('option', 'selected');
      $tabs.tabs('load', selected);

    });


    /* Get the rows which are currently selected */
    function fnGetSelected(oTableLocal) {
      var aReturn = new Array();
      var aTrs = oTableLocal.fnGetNodes();

      for (var i = 0; i < aTrs.length; i++) {
        if ($(aTrs[i]).hasClass('row_selected')) {
          aReturn.push(aTrs[i]);
        }
      }
      return aReturn;
    }

  });

</script>
#{/set}

<div class="container">
  <div class="left">
    <table class="display" id="tab">
      <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
  <div class="right">

    <div id="innerTabs">
      <ul>
        <li><a href="@{admin.Users.userDetails()}" id="userDetailsLink"><span>User details</span></a></li>
        <li><a href="@{admin.Users.projects()}" id="projectsLink"><span>Projects</span></a></li>
        <li><a href="@{admin.Users.account()}" id="accountLink"><span>Account</span></a></li>
      </ul>
    </div>
  </div>
</div>

<h2>New user</h2>

<form action=@{admin.Users.create()} method="POST">
  First name: <input type="text" name="user.authentication.firstName" id="user.authentication.firstName"/><br/>
  Last name: <input type="text" name="user.authentication.lastName" id="user.authentication.lastName"/><br/>
  <input type="submit" value="Save!"/>
</form>