<div id="deleteRoleConfirmationDialog" title="Role removal confirmation"></div>

<div id="treeDiv">
    <button class="button-add" id="assign-role">Role</button>
    <button class="button-delete" id="unassign-role">Remove</button>
    <div id="projectRolesTree" class="tree"></div>

</div>

<div id="assign-dialog" title="Assign a new role" class="modalDialog form-dialog">
    <div id="categoriesContainer">
        <label for="categoriesSelect" class="name">Category</label>
        <select id="categoriesSelect" data-bind="options:categories(),
                       value:category,
                       optionsText:'name',
                       optionsCaption:'Select category...'">

        </select>
    </div>
    <div id="projectsContainer">
        <label for="projectsSelect" class="name">Project</label>
        <select id="projectsSelect" data-bind="options: category() ? category().projects : null,
                       value:project,
                       optionsText:'name',
                       optionsCaption:'Select project...'">
        </select>
    </div>
    <div id="rolesContainer">
        <label for="rolesSelect" class="name">Role</label>
        <select id="rolesSelect" data-bind="options: project() ? project().roles : null,
                       value:role,
                       optionsText:'name',
                       optionsCaption:'Select role...'">
        </select>
    </div>
</div>

<script type="text/javascript">


    $(document).ready(function () {

        var viewModelRoles = {};

        handleRowSelection("#tab", function() {
            $.getJSON('@{admin.Users.rolesData()}', function(data) {
                if (!ko.mapping.isMapped(viewModelRoles)) {
                    viewModelRoles = $.extend({
                        category: ko.observable(),
                        project: ko.observable(),
                        role: ko.observable(),
                        updates: function() {
                            this.category.subscribe(function() {
                                this.project({id: -1, name: "Test"});
                            }.bind(this));
                            this.project.subscribe(function() {
                                this.role(undefined);
                            }.bind(this));
                        }.bind(this)
                    }, ko.mapping.fromJS(data));
                    ko.applyBindings(viewModelRoles, document.getElementById('assign-dialog'));
                } else {
                    ko.mapping.updateFromJS(viewModelRoles, data);
                }
            });

            $("#projectRolesTree").tree({"args" : {"userId": getSelectedRowId("#tab")}, types: projectRoleTreeTypes, plugins: ["crrm"]});

            $("#projectRolesTree").bind("select_node.jstree", function (e, data) {

                var categoryId = null;
                var projectId = null;
                var roleId = null;

                if (data.inst._get_type(data.rslt.obj) == "category") {
                    categoryId = extractId(data.rslt.obj.attr("id"));
                    $("#unassign-role").button('disable');
                }
                else if (data.inst._get_type(data.rslt.obj) == "project") {
                    projectId = extractId(data.rslt.obj.attr("id"));
                    var parent = data.inst._get_parent(data.rslt.obj);
                    categoryId = extractId($(parent).attr("id"));
                    $("#unassign-role").button('disable');
                }
                else {

                    roleId = extractId(data.rslt.obj.attr("id"));
                    var roleParent = data.inst._get_parent(data.rslt.obj);
                    projectId = extractId($(roleParent).attr("id"));
                    var projectParent = data.inst._get_parent(roleParent);
                    categoryId = extractId($(projectParent).attr("id"));
                    $("#unassign-role").button('enable');
                }

                $.getJSON('@{admin.Users.rolesTreeData()}', {categoryId:categoryId, projectId: projectId, roleId:roleId}, function(data) {
                    ko.mapping.updateFromJS(viewModelRoles, data);
                });
            });
        });

        $("#assign-dialog").dialog("option", "buttons", {
            assignRole: {
                id:"assignRole",
                text: "Assign Role",
                click: function() {
                    var selectedRoleId = viewModelRoles.role().id();
                    var name = $('#rolesSelect option:selected').text();
                    //todo this is broken in BL level probably
                    $("#projectRolesTree").jstree("create", -1, "last", {attr: {"rel": "default"}, data: name, metadata: {args: {roleId: selectedRoleId, userId: getSelectedRowId('#tab')}}}, null, true);
                    var treeContainer = $("#projectRolesTree");
                    jQuery.jstree._reference(treeContainer).refresh();
                    jQuery.jstree._reference(treeContainer).deselect_all();
                    $(this).dialog("close");
                }},
            cancel:    {
                text: "Cancel",
                id: "assignRoleCancel",
                click: function() {

                    $(this).dialog("close");
                }
            }});

        $("#assign-role").click(function() {
            $("#assign-dialog").dialog("open");
        });

        $('#assignRole').attr('disabled', 'disabled');
        $('#categoriesSelect').change(function() {
            manageRoleSaveButton();
        });
        $('#projectsSelect').change(function() {
            manageRoleSaveButton();
        });
        $('#rolesSelect').change(function() {
            manageRoleSaveButton();
        });


        $("#unassign-role").click(function() {

            deletionConfirmation('deleteRoleConfirmationDialog', 'Project role for', getSelectedRowColumn($('#tab').dataTable(), 1) + " " + getSelectedRowColumn($('#tab').dataTable(), 2), function() {
                var $tree = jQuery.jstree._reference('#projectRolesTree');
                var selectedNode = $tree.get_selected();
                if ($tree._get_type(selectedNode) == "default") {
                    selectedNode.data("args", {userId: getSelectedRowId('#tab')});
                    $tree.delete_node(selectedNode);
                }
            });

        });

        function manageRoleSaveButton() {
            if ($('#rolesSelect :selected').text() != 'Select role...' && $('#rolesSelect :selected').text() != '') {
                $('#assignRole').removeAttr('disabled');
            }
            else {
                $('#assignRole').attr('disabled', 'disabled');
            }
        }


    });
</script>

