<!DOCTYPE html>

<html>
<head>
    <title>#{get 'title' /}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" media="screen"
          href="@{'/public/stylesheets/aristo/jquery-ui-1.8.7.custom.css'}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/demo_table_jui.css'}">
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/jstree/style.css'}">
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/token-input.css'}">
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">

    #{get 'moreStyles' /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    <script src="@{'/public/javascripts/jquery-1.6.1.min.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/javascripts/jquery.tmpl.min.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/javascripts/jquery.metadata.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/javascripts/jquery.form.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/javascripts/jquery.validate.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/javascripts/jquery.dateFormat-1.0.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/javascripts/knockout-latest.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/javascripts/knockout.mapping-latest.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/javascripts/jquery-ui-1.8.11.custom.min.js'}" type="text/javascript"
            charset="utf-8"></script>
    <script src="@{'/public/javascripts/jquery.jeditable.min.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/javascripts/jquery.ui.autocomplete.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/javascripts/jquery.ui.menu.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/javascripts/i18n/jquery.ui.datepicker-en-GB.js'}" type="text/javascript"
            charset="utf-8"></script>
    <script src="@{'/public/javascripts/tm.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/javascripts/jquery.dataTables.min.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/javascripts/jstree/jquery.jstree.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/javascripts/tree.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/javascripts/treeTypes.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/javascripts/jquery.hotkeys.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/javascripts/jquery.selectbox.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/javascripts/jquery.tokeninput.js'}" type="text/javascript" charset="utf-8"></script>

    *{client-side routing for the tree}*
    <script type="text/javascript">
        var treeChildrenRouteAction =
        #{jsAction @TMTreeController.getChildren() /}
        var treeCreateRouteAction =
        #{jsAction @TMTreeController.create() /}
        var treeRenameRouteAction =
        #{jsAction @TMTreeController.rename() /}
        var treeRemoveRouteAction =
        #{jsAction @TMTreeController.remove() /}
        var treeMoveRouteAction =
        #{jsAction @TMTreeController.move() /}
    </script>


    #{get 'moreScripts' /}

</head>

<body>
<div id="errorDialog"></div>
#{doLayout /}
</body>

</html>